In [1]:
import pandas as pd
import numpy as np
import json
import pickle
import espn_scraper as espn

In [ ]:
help(espn)

In [ ]:
espn.get_leagues()

In [ ]:
import json
def ppjson(data):
    print(json.dumps(data, indent=2, sort_keys=True))

In [ ]:
ppjson(espn.get_teams("nfl"))

In [ ]:
espn.get_url("https://www.espn.com/nfl/boxscore?gameId=401131040&xhr=1")

In [ ]:
data = espn.get_url("https://www.espn.com/nfl/boxscore?gameId=401131040&xhr=1", "cached_data")

In [ ]:
data = espn.get_url("https://www.espn.com/nfl/boxscore?gameId=401131040&xhr=1", "cached_data")

In [ ]:
for data_type in ["recap", "boxscore", "playbyplay", "conversation" or "gamecast"]:
    url = espn.get_game_url(data_type, "nfl", 401131040)
    data = espn.get_url(url)

In [ ]:
scoreboard_urls = espn.get_all_scoreboard_urls("nfl", 2020)

In [ ]:
game_ids = []
for scoreboard_url in scoreboard_urls:
    data = espn.get_url(scoreboard_url, cached_path="cached_data")
    for event in data['content']['sbData']['events']:
        if event['id'] not in game_ids:
            game_ids.append(event['id'])
            
print(game_ids)

In [ ]:
len(game_ids)

In [ ]:
import espn_scraper as espn
import json

# Pretty print json helper
def ppjson(data):
    print(json.dumps(data, indent=2, sort_keys=True))

In [ ]:
leagues = espn.get_leagues()
print(leagues)
for league in leagues:
    teams = espn.get_teams(league)
    print(league, len(teams))

In [ ]:
# print nfl 2016 postseason scores
scoreboard_urls = espn.get_all_scoreboard_urls("nfl", 2016)
for scoreboard_url in scoreboard_urls:
    data = espn.get_url(scoreboard_url, cached_path="cached_json")
    for event in data['content']['sbData']['events']:
        if event['season']['type'] == 3:
            print(event['season']['type'],
                  event['season']['year'],
                  event['competitions'][0]['competitors'][0]['team']['abbreviation'],
                  event['competitions'][0]['competitors'][0]['score'],
                  event['competitions'][0]['competitors'][1]['team']['abbreviation'],
                  event['competitions'][0]['competitors'][1]['score'])

In [ ]:
url = espn.get_game_url("boxscore", "nfl", 401220155)
json_data = espn.get_url(url, "cached_data")
#d = json_data.json()
with open('espn_scraper_test.json', 'w', encoding='utf-8') as f:
    json.dump(json_data, f, ensure_ascii=False, indent=4)
#print(json_data['gamepackageJSON']['boxscore']['teams'][0]['team']['name'])
#ppjson(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics'][0])

In [ ]:
with open("espn_scraper_test.json", "r") as read_file:
    json_data = json.load(read_file)

In [ ]:
print(json_data['gamepackageJSON']['boxscore']['teams'][0]['team']['name'])
print(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics'][0]['displayValue'])

In [ ]:
len(json_data['gamepackageJSON']['boxscore']['teams'])

In [ ]:
for team in range(0, len(json_data['gamepackageJSON']['boxscore']['teams'])):
    print(json_data['gamepackageJSON']['boxscore']['teams'][team]['team']['name'])
    for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['teams'][team]['statistics'])):
        print(json_data['gamepackageJSON']['boxscore']['teams'][team]['statistics'][stat]['label'])
        print(json_data['gamepackageJSON']['boxscore']['teams'][team]['statistics'][stat]['displayValue'])

In [ ]:
scoreboard_urls = espn.get_all_scoreboard_urls("nfl", 2020)

In [ ]:
len(scoreboard_urls)

In [ ]:
with open("scoreboard_urls_list.txt", "wb") as fp:   #Pickling
    pickle.dump(scoreboard_urls, fp)

In [ ]:
with open("scoreboard_urls_list.txt", "rb") as fp:   # Unpickling
    scoreboard_urls = pickle.load(fp)

len(scoreboard_urls)

In [ ]:
game_ids = []
for scoreboard_url in scoreboard_urls:
    data = espn.get_url(scoreboard_url, cached_path="cached_data")
    for event in data['content']['sbData']['events']:
        if event['id'] not in game_ids:
            game_ids.append(event['id'])

In [ ]:
len(game_ids)

In [ ]:
url = espn.get_game_url("boxscore", "nfl", 401220167)
print(url)
json_data = espn.get_url(url, cached_path="cached_data")

with open('espn_scraper_test3.json', 'w', encoding='utf-8') as f:
    json.dump(json_data, f, ensure_ascii=False, indent=4)

In [ ]:
json_data['gamepackageJSON']['header']['week']

In [ ]:
if 'players' not in json_data['gamepackageJSON']['boxscore']:


#if json_data['gamepackageJSON']['boxscore']['players'] is None:
    print('success')

In [ ]:
current_week = 11
if json_data['gamepackageJSON']['header']['week'] < current_week:
    print('success')
else:
    print('doh')

In [ ]:
week_list = [1, 2, 3, 11, 4, 5, 6]
current_week = 11

for i in week_list:
    if i >= current_week or :
        continue
    else:
        print(i)

## START HERE!

In [6]:
with open("espn_scraper_test.json", "r") as read_file:
    json_data = json.load(read_file)
    
with open("scoreboard_urls_list.txt", "rb") as fp:   # Unpickling
    scoreboard_urls = pickle.load(fp)

In [3]:
game_ids = []
for scoreboard_url in scoreboard_urls:
    data = espn.get_url(scoreboard_url, cached_path="cached_data")
    for event in data['content']['sbData']['events']:
        if event['id'] not in game_ids:
            game_ids.append(event['id'])

In [ ]:
len(game_ids)

In [4]:
current_week = 3

list_data = []
columns = []

# create column names using team stats data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics'])):
    columns.append(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics'][stat]['label'])
    
# create column names using box score data.  some are duplicates of the columns created above
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    
    # grab all stat names except for punting stats
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] not in 'punting':
        columns += json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']

# loop through each game
#for i in game_ids[65:67]:
for i in game_ids:
    #print(i)
    url = espn.get_game_url("boxscore", "nfl", i)
    #print(url)
    json_data = espn.get_url(url)
    
    # if there are no game stats then skip to next game record
    if json_data['gamepackageJSON']['header']['week'] >= current_week or len(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics']) == 0:
        continue
    #if len(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics']) == 0:
        #continue
    #if len(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics']) == 0 | 'players' not in json_data['gamepackageJSON']['boxscore']:
    #if len(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics']) == 0 | json_data['gamepackageJSON']['header']['week'] >= current_week:
        #if 'players' not in json_data['gamepackageJSON']['boxscore']:
            #continue
    else:
        #print(i)
        
        # loop through each team
        for team in range(0, len(json_data['gamepackageJSON']['boxscore']['teams'])):
            stat_data = []
            #print(json_data['gamepackageJSON']['boxscore']['teams'][team]['team']['displayName'])
            
            # grab week, team name, and team abbreviation
            stat_data.append(json_data['gamepackageJSON']['header']['week'])
            stat_data.append(json_data['gamepackageJSON']['boxscore']['teams'][team]['team']['displayName'])
            stat_data.append(json_data['gamepackageJSON']['boxscore']['teams'][team]['team']['abbreviation'])
            
            if json_data['gamepackageJSON']['boxscore']['teams'][team]['team']['displayName'] == json_data['__gamepackage__']['homeTeam']['team']['displayName']:
                stat_data.append(1)
                stat_data.append(json_data['__gamepackage__']['awayTeam']['team']['abbreviation'])
            else:
                stat_data.append(0)
                stat_data.append(json_data['__gamepackage__']['homeTeam']['team']['abbreviation'])
            
            # loop through team stats data
            for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['teams'][team]['statistics'])):
                stat_data.append(json_data['gamepackageJSON']['boxscore']['teams'][team]['statistics'][stat]['displayValue'])
            
            # loop through box score data
            for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'])):
                
            # grab all stat values except for punting stat values
                if json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['name'] not in 'punting':
                    #print(json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['descriptions'])
                    #print(json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['totals'])
                    
                    # only grab stat values that exists, otherwise, add 0 for any missing stat values
                    if len(json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['totals']) != 0:
                        stat_data += json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['totals']
                    else:
                        stat_data += [0] * len(json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['descriptions'])
            
            # append each team's stats to list_data
            list_data.append(stat_data)

# maybe add encoding and errors to espn_scraper package?
# with open("AB.json", encoding='utf-8', errors='ignore') as json_data:
#     data = json.load(json_data, strict=False)

https://www.espn.com/nfl/boxscore?gameId=401220373&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223421&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223415&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220734&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223424&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223418&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220976&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220973&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223414&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220990&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223430&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220962&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220713&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220740&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220684&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220736&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223391&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223422&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223416&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220374&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220977&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220685&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220737&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220714&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223392&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220735&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220375&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220991&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220811&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220874&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223431&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220376&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220377&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223427&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223417&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223419&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220812&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223455&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220378&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220738&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223429&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220715&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223413&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220974&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220741&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220992&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223432&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220379&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220380&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220686&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223428&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220733&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220978&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220975&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223423&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220742&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223425&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223454&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220716&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223420&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223426&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220993&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223453&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220853&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220739&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220225&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220313&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220116&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220282&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220300&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220131&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220268&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220370&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220195&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220147&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220161&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220369&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220352&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220347&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220256&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220217&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220163&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220281&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220249&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220291&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220204&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220192&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220122&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220144&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220261&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220177&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220329&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220340&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220235&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220181&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220365&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220231&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220201&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220309&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220119&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220168&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220304&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220134&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220254&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220264&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220173&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220193&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220240&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220216&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220343&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220363&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220323&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220153&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220141&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220157&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220247&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220285&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220128&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220334&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220271&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220320&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220184&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220348&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220280&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220229&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220355&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220221&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220293&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220278&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220306&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220219&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220143&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220175&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220269&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220146&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220179&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220358&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220166&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220242&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220367&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220326&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220209&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220202&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220190&xhr=1

https://www.espn.com/nfl/boxscore?gameId=401220301&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220133&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220252&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220263&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220172&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220317&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220200&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220124&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220331&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220353&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220117&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220245&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220259&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220310&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220155&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401249063&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220322&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220138&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220266&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220183&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220232&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220210&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220136&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220241&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220338&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220351&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220314&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220115&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220158&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220169&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220288&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220292&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220222&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220127&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220148&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220212&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220277&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220361&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220258&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220257&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220359&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220311&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220120&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220207&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220189&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220224&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220299&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220267&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220194&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220236&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220248&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220342&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220330&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220140&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220203&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220165&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220289&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220295&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220251&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220368&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220226&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220126&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220341&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220346&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220327&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220171&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220137&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220276&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220360&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220167&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220191&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220321&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220272&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220318&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220198&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220150&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220185&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220214&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220238&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220305&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220227&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220335&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220287&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220244&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220170&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220312&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220118&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220160&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220188&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220302&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220135&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220139&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220197&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220215&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220345&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220333&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220290&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220262&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220151&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220307&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220274&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220205&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220129&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220303&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220142&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220176&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220178&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220336&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220364&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220297&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220237&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220218&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220357&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220349&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220279&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220159&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220283&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220125&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220253&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220332&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220319&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220196&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220233&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220366&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220265&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220239&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220356&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220121&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220162&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220228&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220213&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220294&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220208&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220186&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220350&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220308&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220123&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220298&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220255&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220270&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220149&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220339&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220325&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220246&xhr=1

https://www.espn.com/nfl/boxscore?gameId=401220156&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220324&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220286&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220230&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220145&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220337&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220234&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220223&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220174&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220273&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220199&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220152&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220182&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220362&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220243&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220296&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220130&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220114&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220275&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220154&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220164&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220284&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220187&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220220&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220132&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220250&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220260&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220328&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220315&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220180&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220211&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220344&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220354&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220371&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220372&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220393&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220394&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220395&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220396&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220397&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220398&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220399&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220400&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220401&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220402&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401223873&xhr=1
https://www.espn.com/nfl/boxscore?gameId=401220403&xhr=1

In [5]:
# add columns to column list
columns[:0] = ['week', 'team_name', 'team_abv', 'home', 'oppn']

# create column index list to select columns I need for analysis
keep_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 17, 23, 24, 29, 30, 31, 33, 34, 35, 38, 39, 40, 41, 42, 43, 44, 
             45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72,
             73, 74, 75, 76
            ]

# create list of categorical columns
chr_list = ['team_name', 'team_abv', 'oppn']

# create list of boolean columns
bool_list = ['home']

# create list of integer columns
int_list = ['week', '1st_dwn_tot', '1st_dwn_pass',
       '1st_dwn_rush', '1st_dwn_pen', '3rd_dwn_con', '3rd_dwn_att',
       '4th_dwn_con', '4th_dwn_att', 'redzone_con', 'redzone_att', 'plays_tot',
       'yrds_tot','drives_tot','penalties',
       'pen_yrds', 'sacks_taken', 'sck_yrds_lost', 'tol_fumble', 'fumble_lost',
       'pass_comp', 'pass_att', 'tot_yrds_pass', 'pass_tds',
       'int_thrown', 'rush_att', 'tot_rush_yrds', 'rush_tds',
       'long_rush', 'tot_rec', 'rec_targets', 'tot_rec_yrds','long_rec', 'tot_tackle', 'solo_tackle', 'tot_sck', 
       'pass_def', 'qb_hits', 'def_tds', 'def_ints', 'def_int_yrds',
       'def_int_tds', 'fumble_rec', 'tot_kick_ret', 'kick_ret_yrds','long_kick_ret', 'kick_ret_tds', 'tot_punt_ret',
       'punt_ret_yrds', 'long_punt_ret', 'punt_ret_tds',
       'fg_made', 'fg_att','long_fg', 'xp_made', 'xp_att',
       'kick_pts', 'time_of_poss_min','time_of_poss_sec'
    
]

# create list of float columns
float_list = ['yrds_per_play','yrds_per_pass','yrds_per_rush', 'yrds_per_rec', 'tack_for_loss', 'yrds_per_kick','yrds_per_punt','fg_perc']

In [6]:
# create dataframe
new_df = pd.DataFrame(columns=columns, data=list_data)

# select columns in keep_list by index.  can't select by name due to duplicate column names
new_df = new_df.iloc[:, keep_list]

# rename columns
new_df.columns = ['week', 'team_name',  'team_abv', 'home', 'oppn', '1st_dwn_tot', '1st_dwn_pass', '1st_dwn_rush', '1st_dwn_pen', '3rd_dwn_eff', '4th_dwn_eff', 'plays_tot', 
 'yrds_tot', 'yrds_per_play', 'drives_tot', 'yrds_per_pass', 'redzone_eff', 'pen_yrds', 'time_of_poss', 'pass_comp_att',
 'tot_yrds_pass', 'pass_tds', 'int_thrown', 'sck_yrds_lost', 'rush_att', 'tot_rush_yrds', 'yrds_per_rush',
 'rush_tds', 'long_rush', 'tot_rec', 'tot_rec_yrds', 'yrds_per_rec', 'long_rec', 'rec_targets', 'tol_fumble',
 'fumble_lost', 'fumble_rec', 'tot_tackle', 'solo_tackle', 'tot_sck', 'tack_for_loss', 'pass_def', 'qb_hits',
 'def_tds', 'def_ints', 'def_int_yrds', 'def_int_tds', 'tot_kick_ret', 'kick_ret_yrds', 'yrds_per_kick', 'long_kick_ret',
 'kick_ret_tds', 'tot_punt_ret', 'punt_ret_yrds', 'yrds_per_punt', 'long_punt_ret', 'punt_ret_tds', 'fg_att_made',
 'fg_perc', 'long_fg', 'xp_att_made', 'kick_pts'
]

# split columns
new_df[['3rd_dwn_con','3rd_dwn_att']] = new_df['3rd_dwn_eff'].str.split('-',expand=True)
new_df[['4th_dwn_con','4th_dwn_att']] = new_df['4th_dwn_eff'].str.split('-',expand=True)
new_df[['redzone_con','redzone_att']] = new_df['redzone_eff'].str.split('-',expand=True)
new_df[['penalties','pen_yrds']] = new_df['pen_yrds'].str.split('-',expand=True)
new_df[['pass_comp','pass_att']] = new_df['pass_comp_att'].str.split('/',expand=True)
new_df[['sacks_taken','sck_yrds_lost']] = new_df['sck_yrds_lost'].str.split('-',expand=True)
new_df[['fg_made','fg_att']] = new_df['fg_att_made'].str.split('/',expand=True)
new_df[['xp_made','xp_att']] = new_df['xp_att_made'].str.split('/',expand=True)
new_df[['time_of_poss_min','time_of_poss_sec']] = new_df['time_of_poss'].str.split(':',expand=True)

# drop split columns
new_df.drop(['3rd_dwn_eff', '4th_dwn_eff', 'redzone_eff', 'pass_comp_att', 'fg_att_made', 'xp_att_made', 'time_of_poss'], 
            axis=1, inplace = True)

# reorder columns
new_df = new_df[['week', 'team_name', 'team_abv', 'home', 'oppn', '1st_dwn_tot', '1st_dwn_pass', '1st_dwn_rush', '1st_dwn_pen', '3rd_dwn_con', 
                  '3rd_dwn_att', '4th_dwn_con', '4th_dwn_att', 'redzone_con', 'redzone_att', 'plays_tot', 'yrds_tot', 
                  'yrds_per_play', 'drives_tot', 'time_of_poss_min', 'time_of_poss_sec', 'penalties', 'pen_yrds', 'sacks_taken', 'sck_yrds_lost', 
                  'tol_fumble', 'fumble_lost', 'pass_comp', 'pass_att', 'tot_yrds_pass', 'yrds_per_pass', 'pass_tds', 
                  'int_thrown', 'rush_att', 'tot_rush_yrds', 'yrds_per_rush', 'rush_tds', 'long_rush', 'tot_rec', 
                  'rec_targets', 'tot_rec_yrds', 'yrds_per_rec', 'long_rec', 'tot_tackle', 'solo_tackle', 'tot_sck', 
                  'tack_for_loss', 'pass_def', 'qb_hits', 'def_tds', 'def_ints', 'def_int_yrds', 'def_int_tds', 'fumble_rec',
                  'tot_kick_ret', 'kick_ret_yrds', 'yrds_per_kick', 'long_kick_ret', 'kick_ret_tds', 'tot_punt_ret', 
                  'punt_ret_yrds', 'yrds_per_punt', 'long_punt_ret', 'punt_ret_tds', 'fg_made', 'fg_att', 'fg_perc', 'long_fg',
                  'xp_made', 'xp_att', 'kick_pts'
                 ]]

# update data types
new_df[chr_list] = new_df[chr_list].astype('category')
new_df[bool_list] = new_df[bool_list].astype('bool')
new_df[int_list] = new_df[int_list].astype('int64')
new_df[float_list] = new_df[float_list].astype('float')

new_df = new_df.merge(new_df, how = 'left', left_on = ['week', 'oppn'], right_on = ['week', 'team_abv'])
new_df.drop(['team_name_y', 'team_abv_y', 'home_y', 'oppn_y'], axis=1, inplace = True)
new_df.columns = ['week', 'team_name', 'team_abv', 'home', 'oppn', '1st_dwn_tot', '1st_dwn_pass', '1st_dwn_rush', '1st_dwn_pen', '3rd_dwn_con', 
                  '3rd_dwn_att', '4th_dwn_con', '4th_dwn_att', 'redzone_con', 'redzone_att', 'plays_tot', 'yrds_tot', 
                  'yrds_per_play', 'drives_tot', 'time_of_poss_min', 'time_of_poss_sec', 'penalties', 'pen_yrds', 'sacks_taken', 'sck_yrds_lost', 
                  'tol_fumble', 'fumble_lost', 'pass_comp', 'pass_att', 'tot_yrds_pass', 'yrds_per_pass', 'pass_tds', 
                  'int_thrown', 'rush_att', 'tot_rush_yrds', 'yrds_per_rush', 'rush_tds', 'long_rush', 'tot_rec', 
                  'rec_targets', 'tot_rec_yrds', 'yrds_per_rec', 'long_rec', 'tot_tackle', 'solo_tackle', 'tot_sck', 
                  'tack_for_loss', 'pass_def', 'qb_hits', 'def_tds', 'def_ints', 'def_int_yrds', 'def_int_tds', 'fumble_rec',
                  'tot_kick_ret', 'kick_ret_yrds', 'yrds_per_kick', 'long_kick_ret', 'kick_ret_tds', 'tot_punt_ret', 
                  'punt_ret_yrds', 'yrds_per_punt', 'long_punt_ret', 'punt_ret_tds', 'fg_made', 'fg_att', 'fg_perc', 'long_fg',
                  'xp_made', 'xp_att', 'kick_pts',
                  '1st_dwn_tot_alw', '1st_dwn_pass_alw', '1st_dwn_rush_alw', '1st_dwn_pen_alw', '3rd_dwn_con_alw', 
                  '3rd_dwn_att_alw', '4th_dwn_con_alw', '4th_dwn_att_alw', 'redzone_con_alw', 'redzone_att_alw', 'plays_tot_alw', 'yrds_tot_alw', 
                  'yrds_per_play_alw', 'drives_tot_alw', 'time_of_poss_min_alw', 'time_of_poss_sec_alw', 'penalties_alw', 'pen_yrds_alw', 'sacks_taken_alw', 'sck_yrds_lost_alw', 
                  'tol_fumble_alw', 'fumble_lost_alw', 'pass_comp_alw', 'pass_att_alw', 'tot_yrds_pass_alw', 'yrds_per_pass_alw', 'pass_tds_alw', 
                  'int_thrown_alw', 'rush_att_alw', 'tot_rush_yrds_alw', 'yrds_per_rush_alw', 'rush_tds_alw', 'long_rush_alw', 'tot_rec_alw', 
                  'rec_targets_alw', 'tot_rec_yrds_alw', 'yrds_per_rec_alw', 'long_rec_alw', 'tot_tackle_alw', 'solo_tackle_alw', 'tot_sck_alw', 
                  'tack_for_loss_alw', 'pass_def_alw', 'qb_hits_alw', 'def_tds_alw', 'def_ints_alw', 'def_int_yrds_alw', 'def_int_tds_alw', 'fumble_rec_alw',
                  'tot_kick_ret_alw', 'kick_ret_yrds_alw', 'yrds_per_kick_alw', 'long_kick_ret_alw', 'kick_ret_tds_alw', 'tot_punt_ret_alw', 
                  'punt_ret_yrds_alw', 'yrds_per_punt_alw', 'long_punt_ret_alw', 'punt_ret_tds_alw', 'fg_made_alw', 'fg_att_alw', 'fg_perc_alw', 'long_fg_alw',
                  'xp_made_alw', 'xp_att_alw', 'kick_pts_alw'
                 ]

new_df.head(10)

,week,team_name,team_abv,home,oppn,1st_dwn_tot,1st_dwn_pass,1st_dwn_rush,1st_dwn_pen,3rd_dwn_con,...,yrds_per_punt_alw,long_punt_ret_alw,punt_ret_tds_alw,fg_made_alw,fg_att_alw,fg_perc_alw,long_fg_alw,xp_made_alw,xp_att_alw,kick_pts_alw
0,1,Houston Texans,HOU,False,KC,21,13,8,0,4,...,0.0,0,0,2,2,100.0,29,4,4,10
1,1,Kansas City Chiefs,KC,True,HOU,28,16,9,3,7,...,19.0,19,0,0,1,0.0,0,2,2,2
2,1,Seattle Seahawks,SEA,False,ATL,22,15,6,1,3,...,8.0,8,0,2,2,100.0,49,1,2,7
3,1,Atlanta Falcons,ATL,True,SEA,28,23,4,1,7,...,15.0,15,0,1,1,100.0,42,5,5,8
4,1,New York Jets,NYJ,False,BUF,15,8,4,3,4,...,13.6,23,0,2,4,50.0,22,3,3,9
5,1,Buffalo Bills,BUF,True,NYJ,31,17,8,6,7,...,0.0,0,0,1,1,100.0,31,2,2,5
6,1,Chicago Bears,CHI,False,DET,26,15,7,4,2,...,16.0,16,0,3,4,75.0,44,2,2,11
7,1,Detroit Lions,DET,True,CHI,25,14,7,4,6,...,0.0,0,0,2,2,100.0,35,3,3,9
8,1,Green Bay Packers,GB,False,MIN,31,17,11,3,6,...,0.0,0,0,1,1,100.0,35,1,1,4
9,1,Minnesota Vikings,MIN,True,GB,25,12,10,3,3,...,0.0,0,0,2,2,100.0,43,5,5,11

In [ ]:
new_df.columns

In [ ]:
new_df.head()

In [5]:
new_df['week'].max()

10

In [11]:
new_df.to_csv('test_df.csv')

In [2]:
new_df = pd.read_csv("test_df.csv")

In [3]:
num_weeks_test = 4
num_weeks = new_df["week"].max() - num_weeks_test + 1
test = new_df[(new_df["week"] <= new_df["week"].max()) & (new_df["week"] >= num_weeks)]
test['team_abv'].value_counts().sort_index().reset_index()

   index  team_abv
0    ARI         3
1    ATL         3
2    BAL         3
3    BUF         4
4    CAR         4
5    CHI         4
6    CIN         3
7    CLE         3
8    DAL         3
9    DEN         4
10   DET         4
11    GB         4
12   HOU         3
13   IND         3
14   JAX         3
15    KC         3
16   LAC         4
17   LAR         3
18    LV         4
19   MIA         3
20   MIN         3
21    NE         4
22    NO         4
23   NYG         4
24   NYJ         3
25   PHI         3
26   PIT         4
27   SEA         4
28    SF         4
29    TB         4
30   TEN         4
31   WSH         3

In [4]:
current_week = 11
num_weeks = 4

def agg_week(weekly_boxscore, num_weeks):
    num_weeks = weekly_boxscore["week"].max() - num_weeks + 1
    weekly_boxscore = weekly_boxscore[(weekly_boxscore["week"] <= weekly_boxscore["week"].max()) & \
                                      (weekly_boxscore["week"] >= num_weeks)]
    gp_df = weekly_boxscore['team_abv'].value_counts().sort_index().reset_index()
    weekly_boxscore = weekly_boxscore.groupby(['team_abv']).sum().sort_values(['team_abv']).reset_index()
    weekly_boxscore['gp'] = gp_df['team_abv']
    return weekly_boxscore

In [ ]:
agg_week(new_df, 1)

In [13]:
prior_weeks = agg_week(new_df, num_weeks)

# qb
prior_weeks['pass_td_per_gm'] = prior_weeks['pass_tds'] / prior_weeks['gp']
prior_weeks['pass_yrd_per_gm'] = prior_weeks['tot_yrds_pass'] / prior_weeks['gp']
prior_weeks['pass_yrd_per_pass'] = prior_weeks['tot_yrds_pass'] / prior_weeks['pass_att']
prior_weeks['pass_1st_down'] = prior_weeks['1st_dwn_pass'] / prior_weeks['1st_dwn_tot']

#rb
prior_weeks['rush_td_per_gm'] = prior_weeks['rush_tds'] / prior_weeks['gp']
prior_weeks['rush_yrd_per_gm'] = prior_weeks['tot_rush_yrds'] / prior_weeks['gp']
prior_weeks['rush_yrd_per_rush'] = prior_weeks['tot_rush_yrds'] / prior_weeks['rush_att']
prior_weeks['rush_1st_down'] = prior_weeks['1st_dwn_rush'] / prior_weeks['1st_dwn_tot']

# wr
prior_weeks['rec_yrd_per_tar'] = prior_weeks['tot_rec_yrds'] / prior_weeks['rec_targets']
prior_weeks['rec_yrd_per_gm'] = prior_weeks['tot_rec_yrds'] / prior_weeks['gp']
prior_weeks['rec_tar_per_gm'] = prior_weeks['rec_targets'] / prior_weeks['gp']
prior_weeks['rec_per_gm'] = prior_weeks['tot_rec'] / prior_weeks['gp']

#pass def
prior_weeks['pass_td_alw_per_gm'] = prior_weeks['pass_tds_alw'] / prior_weeks['gp']
prior_weeks['pass_yrd_alw_per_gm'] = prior_weeks['tot_yrds_pass_alw'] / prior_weeks['gp']
prior_weeks['pass_yrd_alw_per_pass'] = prior_weeks['tot_yrds_pass_alw'] / prior_weeks['pass_att_alw']
prior_weeks['pass_1st_down_alw'] = prior_weeks['1st_dwn_pass_alw'] / prior_weeks['1st_dwn_tot_alw']
prior_weeks['rec_yrd_alw_per_tar'] = prior_weeks['tot_rec_yrds_alw'] / prior_weeks['rec_targets_alw']
prior_weeks['rec_yrd_alw_per_gm'] = prior_weeks['tot_rec_yrds_alw'] / prior_weeks['gp']
prior_weeks['rec_tar_alw_per_gm'] = prior_weeks['rec_targets_alw'] / prior_weeks['gp']
prior_weeks['rec_alw_per_gm'] = prior_weeks['tot_rec_alw'] / prior_weeks['gp']

# rush def
prior_weeks['rush_td_alw_per_gm'] = prior_weeks['rush_tds_alw'] / prior_weeks['gp']
prior_weeks['rush_yrd_alw_per_gm'] = prior_weeks['tot_rush_yrds_alw'] / prior_weeks['gp']
prior_weeks['rush_yrd_alw_per_rush'] = prior_weeks['tot_rush_yrds_alw'] / prior_weeks['rush_att_alw']
prior_weeks['rush_1st_down_alw'] = prior_weeks['1st_dwn_rush_alw'] / prior_weeks['1st_dwn_tot_alw']

# fumbles
prior_weeks['fumble_lst_per_play'] = prior_weeks['fumble_lost'] / prior_weeks['plays_tot']
prior_weeks['fumble_rec_per_play'] = prior_weeks['fumble_rec'] / prior_weeks['plays_tot_alw']
prior_weeks['fumble_per_gm'] = prior_weeks['fumble_rec'] / prior_weeks['gp']
prior_weeks['fumble_alw_per_gm'] = prior_weeks['fumble_rec_alw'] / prior_weeks['gp']

# interceptions
prior_weeks['int_thrown_per_pass_play'] = prior_weeks['int_thrown'] / prior_weeks['pass_att']
prior_weeks['int_per_pass_play'] = prior_weeks['def_ints'] / prior_weeks['pass_att_alw']
prior_weeks['int_per_gm'] = prior_weeks['def_ints'] / prior_weeks['gp']
prior_weeks['int_alw_per_gm'] = prior_weeks['def_ints_alw'] / prior_weeks['gp']

# sacks
prior_weeks['sck_taken_per_pass_play'] = prior_weeks['sacks_taken'] / prior_weeks['pass_att']
prior_weeks['sacks_per_pass_play'] = prior_weeks['tot_sck'] / prior_weeks['pass_att_alw']
prior_weeks['sacks_per_gm'] = prior_weeks['tot_sck'] / prior_weeks['gp']
prior_weeks['sacks_alw_per_gm'] = prior_weeks['tot_sck_alw'] / prior_weeks['gp']

# def tds
prior_weeks['def_st_td_per_gm'] = (prior_weeks['def_tds'] + prior_weeks['kick_ret_tds'] + prior_weeks['punt_ret_tds']) / prior_weeks['gp']
prior_weeks['def_st_td_alw_per_gm'] = (prior_weeks['def_tds_alw'] + prior_weeks['kick_ret_tds_alw'] + prior_weeks['punt_ret_tds_alw']) / prior_weeks['gp']
prior_weeks['def_td_alw_per_gm'] = (prior_weeks['pass_tds_alw'] + prior_weeks['rush_tds_alw']) / prior_weeks['gp']

# kick & punt returns
prior_weeks['return_yrds_per_return'] = (prior_weeks['kick_ret_yrds']+prior_weeks['punt_ret_yrds'])/(prior_weeks['tot_kick_ret']+prior_weeks['tot_punt_ret'])
prior_weeks['return_yrds_per_return_alw'] = (prior_weeks['kick_ret_yrds_alw']+prior_weeks['punt_ret_yrds_alw'])/(prior_weeks['tot_kick_ret_alw']+prior_weeks['tot_punt_ret_alw'])
prior_weeks['return_td_per_gm'] = (prior_weeks['kick_ret_tds']+prior_weeks['punt_ret_tds'])/(prior_weeks['gp'])
prior_weeks['return_td_alw_per_gm'] = (prior_weeks['kick_ret_tds_alw']+prior_weeks['punt_ret_tds_alw'])/(prior_weeks['gp'])


# FGs & XPs
prior_weeks['kck_pts_per_gm'] = prior_weeks['kick_pts'] / prior_weeks['gp']
prior_weeks['kck_pts_alw_per_gm'] = prior_weeks['kick_pts_alw'] / prior_weeks['gp']

prior_weeks

,team_abv,week,home,1st_dwn_tot,1st_dwn_pass,1st_dwn_rush,1st_dwn_pen,3rd_dwn_con,3rd_dwn_att,4th_dwn_con,...,sacks_alw_per_gm,def_st_td_per_gm,def_st_td_alw_per_gm,def_td_alw_per_gm,return_yrds_per_return,return_yrds_per_return_alw,return_td_per_gm,return_td_alw_per_gm,kck_pts_per_gm,kck_pts_alw_per_gm
0,ARI,26,3.0,83,45,31,7,15,37,4,...,1.333333,0.000000,0.666667,3.333333,12.333333,15.769231,0.000000,0.000000,11.333333,10.666667
1,ATL,24,2.0,77,48,20,9,16,36,1,...,2.000000,0.000000,0.000000,2.333333,18.200000,18.846154,0.000000,0.000000,8.333333,8.333333
2,BAL,27,1.0,63,31,29,3,19,41,3,...,2.666667,0.666667,0.666667,2.333333,15.833333,16.090909,0.000000,0.000000,5.666667,4.333333
3,BUF,34,2.0,97,57,33,7,19,47,0,...,2.500000,0.000000,0.000000,2.500000,21.000000,16.230769,0.000000,0.000000,12.500000,8.750000
4,CAR,34,2.0,79,45,22,12,16,44,5,...,2.250000,0.000000,0.000000,3.500000,29.444444,14.250000,0.000000,0.000000,5.750000,11.750000
5,CHI,34,2.0,64,47,12,5,13,55,6,...,3.500000,1.000000,0.500000,2.250000,18.269231,16.777778,0.250000,0.000000,6.750000,8.250000
6,CIN,25,2.0,74,49,19,6,16,37,4,...,2.666667,0.000000,0.000000,4.000000,18.500000,15.416667,0.000000,0.000000,7.000000,7.000000
7,CLE,25,2.0,57,26,26,5,14,29,2,...,0.333333,0.000000,0.000000,2.000000,14.666667,16.083333,0.000000,0.000000,5.666667,7.000000
8,DAL,24,1.0,52,27,23,2,15,45,2,...,4.000000,0.000000,0.666667,2.666667,26.583333,14.125000,0.000000,0.000000,8.333333,4.000000
9,DEN,34,2.0,84,53,22,9,24,58,1,...,2.000000,0.000000,1.000000,3.500000,18.538462,19.714286,0.000000,0.250000,6.500000,12.000000
10,DET,34,2.0,92,63,21,8,20,46,0,...,2.500000,0.000000,0.500000,4.000000,13.307692,19.666667,0.000000,0.000000,8.500000,4.500000
11,GB,34,2.0,83,56,19,8,23,48,4,...,0.750000,0.000000,0.500000,2.250000,12.900000,20.944444,0.000000,0.250000,5.750000,6.250000
12,HOU,26,1.0,55,32,19,4,19,43,0,...,2.333333,0.000000,0.000000,3.000000,14.285714,12.583333,0.000000,0.000000,6.000000,5.333333
13,IND,27,1.0,72,40,27,5,13,38,6,...,1.000000,0.666667,0.666667,2.333333,19.000000,18.000000,0.000000,0.000000,5.666667,4.666667
14,JAX,26,1.0,53,30,19,4,16,42,1,...,3.333333,1.000000,0.000000,3.666667,20.333333,8.444444,0.333333,0.000000,5.333333,8.000000
15,KC,24,2.0,66,48,13,5,13,32,1,...,2.000000,1.333333,0.000000,2.000000,24.200000,15.750000,0.333333,0.000000,9.000000,6.666667
16,LAC,34,2.0,102,59,34,9,24,58,4,...,1.750000,0.000000,0.250000,3.500000,13.888889,19.625000,0.000000,0.000000,8.000000,6.500000
17,LAR,25,2.0,79,46,28,5,20,45,1,...,2.000000,0.000000,2.000000,1.000000,11.916667,36.300000,0.000000,0.333333,5.333333,6.000000
18,LV,34,2.0,80,33,41,6,24,50,3,...,1.500000,0.000000,0.000000,2.500000,15.846154,19.846154,0.000000,0.000000,9.500000,7.250000
19,MIA,27,2.0,49,27,17,5,12,34,0,...,1.333333,2.000000,0.000000,3.000000,27.888889,11.833333,0.333333,0.000000,8.333333,5.000000
20,MIN,27,1.0,61,31,25,5,16,33,1,...,1.000000,0.000000,0.666667,1.666667,14.636364,21.785714,0.000000,0.333333,5.000000,5.666667
21,NE,34,2.0,92,41,41,10,19,41,2,...,1.250000,0.000000,0.000000,3.000000,23.071429,19.900000,0.000000,0.000000,7.500000,7.250000
22,NO,34,2.0,93,50,37,6,25,53,3,...,1.500000,0.000000,0.000000,1.500000,19.052632,10.733333,0.000000,0.000000,10.000000,6.750000
23,NYG,34,2.0,85,46,31,8,18,50,3,...,3.500000,0.000000,0.000000,2.250000,18.117647,17.000000,0.000000,0.000000,7.000000,7.000000
24,NYJ,24,2.0,48,25,17,6,10,30,2,...,2.666667,0.000000,0.000000,2.666667,19.000000,21.071429,0.000000,0.000000,7.333333,11.666667
25,PHI,25,2.0,67,35,23,9,7,30,2,...,3.333333,0.666667,0.000000,2.000000,14.222222,14.666667,0.000000,0.000000,2.666667,7.000000
26,PIT,34,1.0,84,58,13,13,27,56,0,...,0.500000,0.500000,0.000000,2.000000,18.187500,20.500000,0.000000,0.000000,7.750000,7.250000
27,SEA,34,1.0,102,65,29,8,24,54,3,...,3.750000,0.000000,0.000000,4.000000,20.833333,20.615385,0.000000,0.000000,9.250000,8.750000
28,SF,34,1.0,88,51,28,9,21,48,2,...,1.750000,0.000000,0.000000,3.000000,17.352941,21.375000,0.000000,0.000000,6.000000,8.000000
29,TB,34,1.0,95,68,17,10,22,49,3,...,1.500000,0.000000,0.000000,3.250000,21.545455,26.727273,0.000000,0.000000,10.250000,6.500000
30,TEN,34,3.0,78,37,30,11,19,47,1,...,1.750000,0.500000,0.000000,3.000000,15.266667,19.050000,0.000000,0.000000,4.750000,7.750000
31,WSH,26,2.0,74,45,21,8,19,38,2,...,2.000000,0.000000,0.000000,1.666667,17.571429,22.500000,0.000000,0.000000,7.333333,8.666667

In [33]:
prior_weeks[['gp', 'team_abv', 'pass_td_per_gm', 'pass_tds', 'pass_yrd_per_gm', 'pass_yrd_per_pass', 'pass_1st_down', 'pass_td_alw_per_gm', 'pass_tds_alw',
             'pass_yrd_alw_per_gm', 'pass_yrd_alw_per_pass', 'pass_1st_down_alw'
            ]]

,gp,team_abv,pass_td_per_gm,pass_tds,pass_yrd_per_gm,pass_yrd_per_pass,pass_1st_down,pass_td_alw_per_gm,pass_tds_alw,pass_yrd_alw_per_gm,pass_yrd_alw_per_pass,pass_1st_down_alw
0,3,ARI,2.333333,7,286.666667,8.113208,0.542169,2.666667,8,296.333333,6.945312,0.607595
1,3,ATL,1.333333,4,287.666667,8.065421,0.623377,1.333333,4,260.333333,7.036036,0.661290
2,3,BAL,1.333333,4,196.666667,6.941176,0.492063,1.333333,4,178.333333,5.691489,0.500000
3,4,BUF,1.500000,6,281.750000,7.563758,0.587629,0.750000,3,212.500000,7.024793,0.458824
4,4,CAR,1.750000,7,214.000000,6.436090,0.569620,2.250000,9,310.500000,8.225166,0.611111
5,4,CHI,1.000000,4,222.500000,5.426829,0.734375,2.000000,8,226.250000,6.908397,0.571429
6,3,CIN,2.000000,6,273.666667,6.568000,0.662162,3.666667,11,290.666667,8.304762,0.638889
7,3,CLE,1.666667,5,187.666667,7.608108,0.456140,1.666667,5,213.333333,6.274510,0.535211
8,3,DAL,0.333333,1,137.000000,4.110000,0.519231,2.333333,7,200.333333,6.132653,0.525424
9,4,DEN,1.500000,6,256.500000,5.829545,0.630952,1.750000,7,221.250000,6.860465,0.528090
10,4,DET,2.250000,9,294.500000,7.551282,0.684783,1.750000,7,289.000000,7.655629,0.620370
11,4,GB,3.250000,13,295.750000,8.450000,0.674699,1.250000,5,217.500000,7.073171,0.534247
12,3,HOU,1.666667,5,235.333333,6.990099,0.581818,1.666667,5,232.000000,7.565217,0.515625
13,3,IND,1.333333,4,257.000000,6.589744,0.555556,1.333333,4,196.666667,6.413043,0.546875
14,3,JAX,1.333333,4,197.666667,5.930000,0.566038,2.333333,7,310.333333,8.463636,0.578125
15,3,KC,3.333333,10,330.666667,8.478632,0.727273,0.666667,2,231.000000,5.775000,0.552239
16,4,LAC,2.500000,10,277.500000,6.851852,0.578431,2.250000,9,181.500000,6.258621,0.523077
17,3,LAR,1.000000,3,278.000000,6.366412,0.582278,0.333333,1,180.000000,5.454545,0.642857
18,4,LV,1.250000,5,171.250000,6.342593,0.412500,1.750000,7,262.500000,6.603774,0.662921
19,3,MIA,1.666667,5,160.000000,6.400000,0.551020,2.000000,6,259.333333,6.537815,0.605263
20,3,MIN,2.000000,6,216.333333,9.271429,0.508197,1.666667,5,230.333333,5.905983,0.703125
21,4,NE,0.500000,2,179.250000,6.961165,0.445652,1.250000,5,229.500000,9.000000,0.505882
22,4,NO,2.250000,9,238.500000,7.014706,0.537634,1.250000,5,224.250000,6.143836,0.671429
23,4,NYG,1.250000,5,209.000000,6.238806,0.541176,1.250000,5,291.000000,7.320755,0.659341
24,3,NYJ,1.000000,3,158.666667,6.102564,0.520833,1.666667,5,338.666667,8.128000,0.617284
25,3,PHI,1.333333,4,213.000000,5.916667,0.522388,0.666667,2,176.000000,5.387755,0.500000
26,4,PIT,2.750000,11,270.750000,6.296512,0.690476,1.500000,6,201.750000,5.890511,0.506667
27,4,SEA,2.250000,9,300.750000,7.290909,0.637255,2.000000,8,332.000000,8.097561,0.632075
28,4,SF,1.000000,4,270.750000,7.735714,0.579545,2.250000,9,203.250000,7.008621,0.573171
29,4,TB,2.250000,9,288.000000,7.111111,0.715789,2.500000,10,232.750000,6.602837,0.614458
30,4,TEN,1.750000,7,176.500000,6.477064,0.474359,1.750000,7,283.250000,6.401130,0.632653
31,3,WSH,1.000000,3,309.666667,7.806723,0.608108,1.333333,4,170.000000,5.730337,0.509091

In [14]:
print(prior_weeks['team_abv'])

0     ARI
1     ATL
2     BAL
3     BUF
4     CAR
5     CHI
6     CIN
7     CLE
8     DAL
9     DEN
10    DET
11     GB
12    HOU
13    IND
14    JAX
15     KC
16    LAC
17    LAR
18     LV
19    MIA
20    MIN
21     NE
22     NO
23    NYG
24    NYJ
25    PHI
26    PIT
27    SEA
28     SF
29     TB
30    TEN
31    WSH
Name: team_abv, dtype: category
Categories (32, object): [ARI, ATL, BAL, BUF, ..., SF, TB, TEN, WSH]

In [10]:
matchup_data

[7, 'CLE', False, 'CIN']

In [14]:
current_week = 7
matchup_data = []

if json_data['gamepackageJSON']['header']['week'] == current_week:
    matchup_data.append(json_data['gamepackageJSON']['header']['week'])
    matchup_data.append(json_data['__gamepackage__']['awayTeam']['team']['abbreviation'])
    matchup_data.append(False)
    matchup_data.append(json_data['__gamepackage__']['homeTeam']['team']['abbreviation'])
    
this_week_matchups = pd.DataFrame(columns = ['week', 'team_abv', 'home', 'oppn'], data = [matchup_data])
this_week_matchups

#print(json_data['__gamepackage__']['awayTeam']['team']['abbreviation'])
#print(json_data['__gamepackage__']['homeTeam']['team']['abbreviation'])
#print(json_data['gamepackageJSON']['header']['week'])

   week team_abv   home oppn
0     7      CLE  False  CIN

In [14]:
this_week = pd.DataFrame(np.array([[11, 'LAR', False, 'TB'], 
                                   [11, 'ARI', False, 'SEA'], 
                                   [11, 'KC', False, 'LV'],
                                   [11, 'PHI', False, 'CLE'],
                                   [11, 'ATL', False, 'NO'],
                                   [11, 'CIN', False, 'WSH'],
                                   [11, 'DET', False, 'CAR'],
                                   [11, 'PIT', False, 'JAX'],
                                   [11, 'TEN', False, 'BAL'],
                                   [11, 'NE', False, 'HOU'],
                                   [11, 'MIA', False, 'DEN'],
                                   [11, 'NYJ', False, 'LAC'],
                                   [11, 'GB', False, 'IND'],
                                   [11, 'DAL', False, 'MIN'],
                                   [11, 'TB', True, 'LAR'], 
                                   [11, 'SEA', True, 'ARI'], 
                                   [11, 'LV', True, 'KC'],
                                   [11, 'CLE', True, 'PHI'],
                                   [11, 'NO', True, 'ATL'],
                                   [11, 'WSH', True, 'CIN'],
                                   [11, 'CAR', True, 'DET'],
                                   [11, 'JAX', True, 'PIT'],
                                   [11, 'BAL', True, 'TEN'],
                                   [11, 'HOU', True, 'NE'],
                                   [11, 'DEN', True, 'MIA'],
                                   [11, 'LAC', True, 'NYJ'],
                                   [11, 'IND', True, 'GB'],
                                   [11, 'MIN', True, 'DAL']
                                  ]),
                   columns=['week', 'team_abv', 'home', 'oppn'])
this_week

   week team_abv   home oppn
0    11      LAR  False   TB
1    11      ARI  False  SEA
2    11       KC  False   LV
3    11      PHI  False  CLE
4    11      ATL  False   NO
5    11      CIN  False  WSH
6    11      DET  False  CAR
7    11      PIT  False  JAX
8    11      TEN  False  BAL
9    11       NE  False  HOU
10   11      MIA  False  DEN
11   11      NYJ  False  LAC
12   11       GB  False  IND
13   11      DAL  False  MIN
14   11       TB   True  LAR
15   11      SEA   True  ARI
16   11       LV   True   KC
17   11      CLE   True  PHI
18   11       NO   True  ATL
19   11      WSH   True  CIN
20   11      CAR   True  DET
21   11      JAX   True  PIT
22   11      BAL   True  TEN
23   11      HOU   True   NE
24   11      DEN   True  MIA
25   11      LAC   True  NYJ
26   11      IND   True   GB
27   11      MIN   True  DAL

In [15]:
def get_values_list(prior_weeks, team, column):   
    data_list = []
    for i in team.tolist():
        team_idx = prior_weeks.index[prior_weeks['team_abv'] == i].tolist()[0]
        data_value = prior_weeks.at[team_idx, column]
        data_list.append(data_value)
    return np.array(data_list)

In [16]:
# qb
this_week['pass_td'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'pass_td_per_gm') * 
                                 get_values_list(prior_weeks, this_week['oppn'], 'pass_td_alw_per_gm'))

this_week['pass_yrd_per_pass'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'pass_yrd_per_pass') * 
                                           get_values_list(prior_weeks, this_week['oppn'], 'pass_yrd_alw_per_pass'))

this_week['pass_1st_dwn'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'pass_1st_down') * 
                                      get_values_list(prior_weeks, this_week['oppn'], 'pass_1st_down_alw'))

this_week['pass_yrd'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'pass_yrd_per_gm') * 
                                         get_values_list(prior_weeks, this_week['oppn'], 'pass_yrd_alw_per_gm'))

# rb
this_week['rush_td'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'rush_td_per_gm') * 
                                 get_values_list(prior_weeks, this_week['oppn'], 'rush_td_alw_per_gm'))

this_week['rush_yrd_per_rush'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'rush_yrd_per_rush') * 
                                           get_values_list(prior_weeks, this_week['oppn'], 'rush_yrd_alw_per_rush'))

this_week['rush_1st_down'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'rush_1st_down') * 
                                       get_values_list(prior_weeks, this_week['oppn'], 'rush_1st_down_alw'))

this_week['rush_yrd'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'rush_yrd_per_gm') * 
                                         get_values_list(prior_weeks, this_week['oppn'], 'rush_yrd_alw_per_gm'))

# wr
this_week['rec_td'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'pass_td_per_gm') * 
                                get_values_list(prior_weeks, this_week['oppn'], 'pass_td_alw_per_gm'))

this_week['rec_yrd_per_tar'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'rec_yrd_per_tar') * 
                                          get_values_list(prior_weeks, this_week['oppn'], 'rec_yrd_alw_per_tar'))

this_week['rec_1st_down'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'pass_1st_down') * 
                                      get_values_list(prior_weeks, this_week['oppn'], 'pass_1st_down_alw'))

this_week['rec_yrd_per_gm'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'rec_yrd_per_gm') * 
                                         get_values_list(prior_weeks, this_week['oppn'], 'rec_yrd_alw_per_gm'))

this_week['rec_per_gm'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'rec_per_gm') * 
                                         get_values_list(prior_weeks, this_week['oppn'], 'rec_alw_per_gm'))

# def
this_week['def_st_td'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'def_st_td_per_gm') * 
                                         get_values_list(prior_weeks, this_week['oppn'], 'def_st_td_alw_per_gm'))

this_week['def_sack'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'sacks_per_gm') * 
                                         get_values_list(prior_weeks, this_week['oppn'], 'sacks_alw_per_gm'))

this_week['def_int'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'int_per_gm') * 
                                         get_values_list(prior_weeks, this_week['oppn'], 'int_alw_per_gm'))

this_week['def_fbml'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'fumble_per_gm') * 
                                         get_values_list(prior_weeks, this_week['oppn'], 'fumble_alw_per_gm'))

this_week['def_td_alw'] = pd.Series((get_values_list(prior_weeks, this_week['team_abv'], 'pass_td_alw_per_gm') +
                                     get_values_list(prior_weeks, this_week['team_abv'], 'rush_td_alw_per_gm')) * 
                                     (get_values_list(prior_weeks, this_week['oppn'], 'pass_td_per_gm') + 
                                     get_values_list(prior_weeks, this_week['oppn'], 'rush_td_per_gm')))

this_week['def_yrd_alw'] = pd.Series((get_values_list(prior_weeks, this_week['team_abv'], 'pass_yrd_alw_per_gm') +
                                     get_values_list(prior_weeks, this_week['team_abv'], 'rush_yrd_alw_per_gm')) * 
                                     (get_values_list(prior_weeks, this_week['oppn'], 'pass_yrd_per_gm') + 
                                     get_values_list(prior_weeks, this_week['oppn'], 'rush_yrd_per_gm')))

# st
this_week['kck_pts'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'kck_pts_per_gm') * 
                                         get_values_list(prior_weeks, this_week['oppn'], 'kck_pts_alw_per_gm'))

# misc
this_week['rz_diff'] = pd.Series((get_values_list(prior_weeks, this_week['team_abv'], 'redzone_con') /
                                 get_values_list(prior_weeks, this_week['team_abv'], 'redzone_att')) -
                                 (1 - get_values_list(prior_weeks, this_week['oppn'], 'redzone_con_alw') /
                                 get_values_list(prior_weeks, this_week['oppn'], 'redzone_att_alw')))

this_week['to_diff'] = pd.Series((get_values_list(prior_weeks, this_week['team_abv'], 'def_ints') +
                                 get_values_list(prior_weeks, this_week['team_abv'], 'fumble_rec')) -
                                 (get_values_list(prior_weeks, this_week['oppn'], 'int_thrown') +
                                 get_values_list(prior_weeks, this_week['oppn'], 'fumble_lost')))

this_week

,week,team_abv,home,oppn,pass_td,pass_yrd_per_pass,pass_1st_dwn,pass_yrd,rush_td,rush_yrd_per_rush,...,rec_per_gm,def_st_td,def_sack,def_int,def_fbml,def_td_alw,def_yrd_alw,kck_pts,rz_diff,to_diff
0,11,LAR,False,TB,2.500000,42.036381,0.357786,64704.500000,1.250000,16.235471,...,701.250000,0.000000,5.500000,1.000000,0.500000,3.250000,96896.000000,34.666667,0.400000,2
1,11,ARI,False,SEA,4.666667,65.697193,0.342692,95173.333333,2.666667,17.980028,...,776.416667,0.000000,6.250000,2.916667,0.000000,11.666667,174793.500000,99.166667,0.283333,-5
2,11,KC,False,LV,5.833333,55.990969,0.482125,86800.000000,0.500000,13.822214,...,656.000000,0.000000,3.000000,0.166667,0.250000,5.500000,118525.916667,65.250000,0.154762,3
3,11,PHI,False,CLE,2.222222,37.124183,0.279588,45440.000000,0.333333,21.360606,...,489.111111,0.000000,1.111111,0.111111,0.444444,4.000000,105516.000000,18.666667,0.006993,3
4,11,ATL,False,NO,1.666667,49.552618,0.418553,64509.250000,0.416667,8.718641,...,622.416667,0.000000,3.000000,0.000000,0.000000,7.583333,133772.500000,56.250000,0.000000,-3
5,11,CIN,False,WSH,2.666667,37.636854,0.337101,46523.333333,0.333333,19.718523,...,534.888889,0.000000,0.666667,0.666667,0.000000,10.666667,170645.333333,60.666667,0.242857,-4
6,11,DET,False,CAR,5.062500,62.110545,0.418478,91442.250000,0.312500,18.174509,...,708.500000,0.000000,3.937500,0.000000,0.000000,12.000000,128834.062500,99.875000,0.083916,0
7,11,PIT,False,JAX,6.416667,53.291385,0.399182,84022.750000,0.666667,11.124944,...,656.750000,0.000000,10.000000,0.500000,0.416667,4.666667,114600.750000,62.000000,0.250000,5
8,11,TEN,False,BAL,2.333333,36.864142,0.237179,31475.833333,0.750000,20.917277,...,305.000000,0.333333,2.666667,0.750000,0.500000,7.000000,138060.000000,20.583333,0.477273,-1
9,11,NE,False,HOU,0.833333,52.662727,0.229789,41586.000000,2.000000,21.005263,...,360.916667,0.000000,2.916667,0.000000,0.000000,6.000000,121522.500000,40.000000,0.300000,3
10,11,MIA,False,DEN,2.916667,43.906977,0.290988,35400.000000,1.750000,14.280396,...,340.750000,2.000000,3.333333,2.000000,0.750000,7.500000,146273.333333,100.000000,0.326316,-5
11,11,NYJ,False,LAC,2.250000,38.193634,0.272436,28798.000000,0.416667,20.396344,...,272.000000,0.000000,1.166667,0.000000,0.083333,9.333333,189365.166667,47.666667,0.092308,-3
12,11,GB,False,IND,4.333333,54.190217,0.368976,58164.166667,0.500000,13.198514,...,478.500000,0.000000,2.000000,0.166667,0.166667,6.750000,121634.166667,26.833333,0.446154,2
13,11,DAL,False,MIN,0.555556,24.273590,0.365084,31555.666667,0.000000,16.054987,...,435.777778,0.000000,2.000000,0.222222,0.222222,9.777778,129433.777778,47.222222,-0.444444,2
14,11,TB,True,LAR,0.750000,38.787879,0.460150,51840.000000,0.666667,14.307692,...,573.500000,0.000000,5.000000,0.666667,0.666667,8.666667,134486.750000,61.500000,0.039683,0
15,11,SEA,True,ARI,6.000000,50.637642,0.387193,89122.250000,0.833333,24.211834,...,788.333333,0.000000,4.333333,0.333333,0.750000,14.666667,197842.166667,98.666667,0.571429,0
16,11,LV,True,KC,0.833333,36.628472,0.227799,39558.750000,2.000000,21.731707,...,447.666667,0.000000,2.000000,0.000000,0.500000,10.000000,140497.500000,63.333333,0.500000,5
17,11,CLE,True,PHI,1.111111,40.990623,0.228070,33029.333333,0.444444,23.253131,...,323.777778,0.000000,8.888889,0.333333,0.222222,4.666667,114466.666667,39.666667,0.196429,-3
18,11,NO,True,ATL,3.000000,49.355723,0.355532,62089.500000,1.000000,19.629792,...,572.000000,0.000000,5.500000,1.000000,0.166667,4.500000,104352.000000,83.333333,0.464912,5
19,11,WSH,True,CIN,3.666667,64.832973,0.388514,90009.777778,0.555556,21.868291,...,619.555556,0.000000,10.666667,0.111111,0.000000,5.000000,111264.000000,51.333333,0.391608,-3
20,11,CAR,True,DET,3.062500,49.272320,0.353376,61846.000000,2.812500,20.399684,...,630.000000,0.000000,3.750000,0.250000,0.187500,8.750000,165267.812500,25.875000,0.800000,-1
21,11,JAX,True,PIT,2.000000,34.930730,0.286792,39879.250000,0.500000,24.411326,...,352.833333,0.000000,0.666667,0.250000,0.166667,11.916667,137307.916667,38.666667,0.259740,-1
22,11,BAL,True,TEN,2.333333,44.431373,0.311305,55705.833333,1.250000,16.404241,...,574.000000,0.000000,1.750000,0.083333,0.000000,5.833333,90778.333333,43.916667,0.267943,2
23,11,HOU,True,NE,2.083333,62.910891,0.294332,54009.000000,0.583333,17.962810,...,413.666667,0.000000,1.250000,0.333333,0.000000,6.000000,126223.166667,43.500000,0.214286,-4
24,11,DEN,True,MIA,3.000000,38.112490,0.381892,66519.000000,1.000000,21.664561,...,620.666667,0.000000,2.666667,0.000000,0.250000,9.333333,91572.250000,32.500000,0.400000,1
25,11,LAC,True,NYJ,4.166667,55.691852,0.357056,93980.000000,1.000000,16.750000,...,805.000000,0.000000,5.333333,0.250000,0.250000,4.666667,76152.500000,93.333333,-0.073864,0
26,11,IND,True,GB,1.666667,46.610381,0.296804,55897.500000,1.666667,17.722846,...,513.333333,0.333333,2.000000,0.083333,0.333333,8.750000,116582.833333,35.416667,0.181818,0
27,11,MIN,True,DAL,4.666667,56.858455,0.267019,43338.777778,0.555556,24.338662,...,337.555556,0.000000,6.666667,0.888889,0.666667,0.555556,83096.666667,20.000000,0.444444,1

In [29]:
this_week[['team_abv', 'def_td_alw']]

   team_abv  def_td_alw
0       LAR    3.250000
1       ARI   11.666667
2        KC    5.500000
3       PHI    4.000000
4       ATL    7.583333
5       CIN   10.666667
6       DET   12.000000
7       PIT    4.666667
8       TEN    7.000000
9        NE    6.000000
10      MIA    7.500000
11      NYJ    9.333333
12       GB    6.750000
13      DAL    9.777778
14       TB    8.666667
15      SEA   14.666667
16       LV   10.000000
17      CLE    4.666667
18       NO    4.500000
19      WSH    5.000000
20      CAR    8.750000
21      JAX   11.916667
22      BAL    5.833333
23      HOU    6.000000
24      DEN    9.333333
25      LAC    4.666667
26      IND    8.750000
27      MIN    0.555556

In [30]:
this_week['def_td_alw'].rank(method='average', ascending = True)

0      2.0
1     25.0
2      9.0
3      3.0
4     16.0
5     24.0
6     27.0
7      6.0
8     14.0
9     11.5
10    15.0
11    20.5
12    13.0
13    22.0
14    17.0
15    28.0
16    23.0
17     6.0
18     4.0
19     8.0
20    19.0
21    26.0
22    10.0
23    11.5
24    20.5
25     6.0
26    18.0
27     1.0
Name: def_td_alw, dtype: float64

In [17]:
this_week.columns

Index(['week', 'team_abv', 'home', 'oppn', 'pass_td', 'pass_yrd_per_pass',
       'pass_1st_dwn', 'pass_yrd', 'rush_td', 'rush_yrd_per_rush',
       'rush_1st_down', 'rush_yrd', 'rec_td', 'rec_yrd_per_tar',
       'rec_1st_down', 'rec_yrd_per_gm', 'rec_per_gm', 'def_st_td', 'def_sack',
       'def_int', 'def_fbml', 'def_td_alw', 'def_yrd_alw', 'kck_pts',
       'rz_diff', 'to_diff'],
      dtype='object')

In [ ]:
this_week['pass_yrd_rank'] = this_week['pass_yrd'].rank(method='average')
this_week

In [28]:
this_week_rank = pd.DataFrame(np.array([[11, 'LAR', False, 'TB'], 
                                   [11, 'ARI', False, 'SEA'], 
                                   [11, 'KC', False, 'LV'],
                                   [11, 'PHI', False, 'CLE'],
                                   [11, 'ATL', False, 'NO'],
                                   [11, 'CIN', False, 'WSH'],
                                   [11, 'DET', False, 'CAR'],
                                   [11, 'PIT', False, 'JAX'],
                                   [11, 'TEN', False, 'BAL'],
                                   [11, 'NE', False, 'HOU'],
                                   [11, 'MIA', False, 'DEN'],
                                   [11, 'NYJ', False, 'LAC'],
                                   [11, 'GB', False, 'IND'],
                                   [11, 'DAL', False, 'MIN'],
                                   [11, 'TB', True, 'LAR'], 
                                   [11, 'SEA', True, 'ARI'], 
                                   [11, 'LV', True, 'KC'],
                                   [11, 'CLE', True, 'PHI'],
                                   [11, 'NO', True, 'ATL'],
                                   [11, 'WSH', True, 'CIN'],
                                   [11, 'CAR', True, 'DET'],
                                   [11, 'JAX', True, 'PIT'],
                                   [11, 'BAL', True, 'TEN'],
                                   [11, 'HOU', True, 'NE'],
                                   [11, 'DEN', True, 'MIA'],
                                   [11, 'LAC', True, 'NYJ'],
                                   [11, 'IND', True, 'GB'],
                                   [11, 'MIN', True, 'DAL']
                                  ]),
                   columns=['week', 'team_abv', 'home', 'oppn'])

ascending_false = ['pass_td', 'pass_yrd_per_pass',
       'pass_1st_dwn', 'pass_yrd', 'rush_td', 'rush_yrd_per_rush',
       'rush_1st_down', 'rush_yrd', 'rec_td', 'rec_yrd_per_tar',
       'rec_1st_down', 'rec_yrd_per_gm', 'rec_per_gm', 'def_st_td', 'def_sack',
       'def_int', 'def_fbml', 'kck_pts',
       'rz_diff', 'to_diff']
ascending_true = ['def_td_alw', 'def_yrd_alw']

#for i in this_week.columns[4:20]:
for i in ascending_false:
    this_week_rank[i] = this_week[i].rank(method='average', ascending = False)
    
for i in ascending_true:
    this_week_rank[i] = this_week[i].rank(method='average', ascending = True)
    
this_week_rank

,week,team_abv,home,oppn,pass_td,pass_yrd_per_pass,pass_1st_dwn,pass_yrd,rush_td,rush_yrd_per_rush,...,rec_per_gm,def_st_td,def_sack,def_int,def_fbml,kck_pts,rz_diff,to_diff,def_td_alw,def_yrd_alw
0,11,LAR,False,TB,15.0,18.0,11.0,9.0,7.5,21.0,...,5.0,16.0,6.5,3.5,6.0,22.0,8.5,8.5,2.0,5.0
1,11,ARI,False,SEA,5.5,1.0,15.0,1.0,2.0,16.0,...,3.0,16.0,5.0,1.0,24.5,3.0,13.0,27.5,25.0,26.0
2,11,KC,False,LV,3.0,6.0,1.0,6.0,20.0,25.0,...,7.0,16.0,14.5,17.5,12.0,7.0,21.0,5.0,9.0,12.0
3,11,PHI,False,CLE,19.0,24.0,22.0,19.0,25.5,8.0,...,17.0,16.0,26.0,19.5,8.0,28.0,25.0,5.0,3.0,7.0
4,11,ATL,False,NO,22.5,12.0,3.0,10.0,23.0,28.0,...,9.0,16.0,14.5,25.5,24.5,12.0,26.0,22.5,16.0,18.0
5,11,CIN,False,WSH,14.0,23.0,16.0,18.0,25.5,13.0,...,15.0,16.0,27.5,7.5,24.5,11.0,17.0,25.5,24.0,25.0
6,11,DET,False,CAR,4.0,4.0,4.0,3.0,27.0,15.0,...,4.0,16.0,11.0,25.5,24.5,2.0,23.0,15.0,27.0,16.0
7,11,PIT,False,JAX,1.0,9.0,5.0,7.0,14.5,27.0,...,6.0,16.0,2.0,9.0,9.0,9.0,16.0,2.0,6.0,10.0
8,11,TEN,False,BAL,16.5,25.0,25.0,27.0,13.0,10.0,...,27.0,2.5,17.5,6.0,6.0,26.0,4.0,19.0,14.0,21.0
9,11,NE,False,HOU,25.0,10.0,26.0,21.0,3.5,9.0,...,22.0,16.0,16.0,25.5,24.5,18.0,12.0,5.0,11.5,13.0
10,11,MIA,False,DEN,13.0,17.0,20.0,24.0,5.0,24.0,...,24.0,1.0,13.0,2.0,1.5,1.0,11.0,27.5,15.0,23.0
11,11,NYJ,False,LAC,18.0,21.0,23.0,28.0,24.0,12.0,...,28.0,16.0,25.0,25.5,20.0,14.0,22.0,22.5,20.5,27.0
12,11,GB,False,IND,7.0,8.0,9.0,13.0,20.0,26.0,...,18.0,16.0,20.5,17.5,18.0,24.0,6.0,8.5,13.0,14.0
13,11,DAL,False,MIN,28.0,28.0,10.0,26.0,28.0,22.0,...,20.0,16.0,20.5,16.0,14.5,15.0,28.0,8.5,22.0,17.0
14,11,TB,True,LAR,27.0,20.0,2.0,17.0,14.5,23.0,...,13.0,16.0,9.0,7.5,3.5,10.0,24.0,15.0,17.0,19.0
15,11,SEA,True,ARI,2.0,11.0,7.0,5.0,12.0,3.0,...,2.0,16.0,10.0,11.0,1.5,4.0,2.0,15.0,28.0,28.0
16,11,LV,True,KC,26.0,26.0,28.0,23.0,3.5,6.0,...,19.0,16.0,20.5,25.5,6.0,8.0,3.0,2.0,23.0,22.0
17,11,CLE,True,PHI,24.0,19.0,27.0,25.0,22.0,4.0,...,26.0,16.0,3.0,11.0,14.5,19.0,19.0,22.5,6.0,9.0
18,11,NO,True,ATL,11.5,13.0,13.0,11.0,10.0,14.0,...,14.0,16.0,6.5,3.5,18.0,6.0,5.0,2.0,4.0,6.0
19,11,WSH,True,CIN,9.0,2.0,6.0,4.0,17.5,5.0,...,11.0,16.0,1.0,19.5,24.5,13.0,10.0,22.5,8.0,8.0
20,11,CAR,True,DET,10.0,14.0,14.0,12.0,1.0,11.0,...,8.0,16.0,12.0,14.0,16.0,25.0,1.0,19.0,19.0,24.0
21,11,JAX,True,PIT,21.0,27.0,21.0,22.0,20.0,1.0,...,23.0,16.0,27.5,14.0,18.0,20.0,15.0,19.0,26.0,20.0
22,11,BAL,True,TEN,16.5,16.0,17.0,15.0,7.5,20.0,...,12.0,16.0,23.0,21.5,24.5,16.0,14.0,8.5,10.0,3.0
23,11,HOU,True,NE,20.0,3.0,19.0,16.0,16.0,17.0,...,21.0,16.0,24.0,11.0,24.5,17.0,18.0,25.5,11.5,15.0
24,11,DEN,True,MIA,11.5,22.0,8.0,8.0,10.0,7.0,...,10.0,16.0,17.5,25.5,12.0,23.0,8.5,11.5,20.5,4.0
25,11,LAC,True,NYJ,8.0,7.0,12.0,2.0,10.0,19.0,...,1.0,16.0,8.0,14.0,12.0,5.0,27.0,15.0,6.0,1.0
26,11,IND,True,GB,22.5,15.0,18.0,14.0,6.0,18.0,...,16.0,2.5,20.5,21.5,10.0,21.0,20.0,15.0,18.0,11.0
27,11,MIN,True,DAL,5.5,5.0,24.0,20.0,17.5,2.0,...,25.0,16.0,4.0,5.0,3.5,27.0,7.0,11.5,1.0,2.0

In [31]:
this_week_rank.columns

Index(['week', 'team_abv', 'home', 'oppn', 'pass_td', 'pass_yrd_per_pass',
       'pass_1st_dwn', 'pass_yrd', 'rush_td', 'rush_yrd_per_rush',
       'rush_1st_down', 'rush_yrd', 'rec_td', 'rec_yrd_per_tar',
       'rec_1st_down', 'rec_yrd_per_gm', 'rec_per_gm', 'def_st_td', 'def_sack',
       'def_int', 'def_fbml', 'kck_pts', 'rz_diff', 'to_diff', 'def_td_alw',
       'def_yrd_alw'],
      dtype='object')

In [32]:
this_week_rank_avg = pd.DataFrame(np.array([[11, 'LAR', False, 'TB'], 
                                   [11, 'ARI', False, 'SEA'], 
                                   [11, 'KC', False, 'LV'],
                                   [11, 'PHI', False, 'CLE'],
                                   [11, 'ATL', False, 'NO'],
                                   [11, 'CIN', False, 'WSH'],
                                   [11, 'DET', False, 'CAR'],
                                   [11, 'PIT', False, 'JAX'],
                                   [11, 'TEN', False, 'BAL'],
                                   [11, 'NE', False, 'HOU'],
                                   [11, 'MIA', False, 'DEN'],
                                   [11, 'NYJ', False, 'LAC'],
                                   [11, 'GB', False, 'IND'],
                                   [11, 'DAL', False, 'MIN'],
                                   [11, 'TB', True, 'LAR'], 
                                   [11, 'SEA', True, 'ARI'], 
                                   [11, 'LV', True, 'KC'],
                                   [11, 'CLE', True, 'PHI'],
                                   [11, 'NO', True, 'ATL'],
                                   [11, 'WSH', True, 'CIN'],
                                   [11, 'CAR', True, 'DET'],
                                   [11, 'JAX', True, 'PIT'],
                                   [11, 'BAL', True, 'TEN'],
                                   [11, 'HOU', True, 'NE'],
                                   [11, 'DEN', True, 'MIA'],
                                   [11, 'LAC', True, 'NYJ'],
                                   [11, 'IND', True, 'GB'],
                                   [11, 'MIN', True, 'DAL']
                                  ]),
                   columns=['week', 'team_abv', 'home', 'oppn'])

this_week_rank_avg['QB'] = this_week_rank.iloc[:, [4, 5, 6, 7, 22, 23]].mean(axis=1)
this_week_rank_avg['WRTE'] = this_week_rank.iloc[:, [12, 13, 14, 15, 16, 22, 23]].mean(axis=1)
this_week_rank_avg['RB'] = this_week_rank.iloc[:, [8, 9, 10, 11, 22, 23]].mean(axis=1)
this_week_rank_avg['DEF'] = this_week_rank.iloc[:, [17, 18, 19, 20, 22, 23, 24, 25]].mean(axis=1)
this_week_rank_avg['ST'] = this_week_rank.iloc[:, [21, 22, 23]].mean(axis=1)

this_week_rank_avg

,week,team_abv,home,oppn,QB,WRTE,RB,DEF,ST
0,11,LAR,False,TB,11.666667,11.142857,12.916667,7.0000,13.000000
1,11,ARI,False,SEA,10.500000,9.428571,13.583333,17.2500,14.500000
2,11,KC,False,LV,7.000000,7.285714,20.666667,13.3750,11.000000
3,11,PHI,False,CLE,19.000000,18.428571,13.250000,13.6875,19.333333
4,11,ATL,False,NO,16.000000,14.857143,25.916667,20.3750,20.166667
5,11,CIN,False,WSH,18.916667,17.500000,18.166667,20.8750,17.833333
6,11,DET,False,CAR,8.833333,7.857143,21.166667,19.7500,13.333333
7,11,PIT,False,JAX,6.666667,7.285714,18.750000,8.7500,9.000000
8,11,TEN,False,BAL,19.416667,20.785714,11.166667,11.2500,16.333333
9,11,NE,False,HOU,16.500000,17.285714,5.416667,15.4375,11.666667
10,11,MIA,False,DEN,18.750000,19.500000,15.416667,11.7500,13.166667
11,11,NYJ,False,LAC,22.416667,23.214286,18.083333,22.3125,19.500000
12,11,GB,False,IND,8.583333,9.642857,17.916667,14.1875,12.833333
13,11,DAL,False,MIN,21.416667,20.928571,20.750000,17.8125,17.166667
14,11,TB,True,LAR,17.500000,17.142857,21.083333,13.8750,16.333333
15,11,SEA,True,ARI,7.000000,5.428571,10.500000,13.9375,7.000000
16,11,LV,True,KC,18.000000,18.000000,3.416667,14.7500,4.333333
17,11,CLE,True,PHI,22.750000,23.357143,12.250000,12.6250,20.166667
18,11,NO,True,ATL,9.250000,9.928571,10.833333,7.6250,4.333333
19,11,WSH,True,CIN,8.916667,9.357143,15.666667,13.6875,15.166667
20,11,CAR,True,DET,11.666667,10.428571,12.000000,15.1250,15.000000
21,11,JAX,True,PIT,20.833333,20.714286,10.666667,19.4375,18.000000
22,11,BAL,True,TEN,14.500000,14.285714,11.333333,15.0625,12.833333
23,11,HOU,True,NE,16.916667,17.928571,16.083333,18.1875,20.166667
24,11,DEN,True,MIA,11.583333,11.785714,10.833333,14.4375,14.333333
25,11,LAC,True,NYJ,11.833333,11.142857,15.666667,12.3750,15.666667
26,11,IND,True,GB,17.416667,17.214286,14.166667,14.8125,18.666667
27,11,MIN,True,DAL,12.166667,14.142857,8.333333,6.2500,15.166667

In [33]:
this_week_rank_avg.sort_values(by=['QB'])

,week,team_abv,home,oppn,QB,WRTE,RB,DEF,ST
7,11,PIT,False,JAX,6.666667,7.285714,18.750000,8.7500,9.000000
2,11,KC,False,LV,7.000000,7.285714,20.666667,13.3750,11.000000
15,11,SEA,True,ARI,7.000000,5.428571,10.500000,13.9375,7.000000
12,11,GB,False,IND,8.583333,9.642857,17.916667,14.1875,12.833333
6,11,DET,False,CAR,8.833333,7.857143,21.166667,19.7500,13.333333
19,11,WSH,True,CIN,8.916667,9.357143,15.666667,13.6875,15.166667
18,11,NO,True,ATL,9.250000,9.928571,10.833333,7.6250,4.333333
1,11,ARI,False,SEA,10.500000,9.428571,13.583333,17.2500,14.500000
24,11,DEN,True,MIA,11.583333,11.785714,10.833333,14.4375,14.333333
0,11,LAR,False,TB,11.666667,11.142857,12.916667,7.0000,13.000000
20,11,CAR,True,DET,11.666667,10.428571,12.000000,15.1250,15.000000
25,11,LAC,True,NYJ,11.833333,11.142857,15.666667,12.3750,15.666667
27,11,MIN,True,DAL,12.166667,14.142857,8.333333,6.2500,15.166667
22,11,BAL,True,TEN,14.500000,14.285714,11.333333,15.0625,12.833333
4,11,ATL,False,NO,16.000000,14.857143,25.916667,20.3750,20.166667
9,11,NE,False,HOU,16.500000,17.285714,5.416667,15.4375,11.666667
23,11,HOU,True,NE,16.916667,17.928571,16.083333,18.1875,20.166667
26,11,IND,True,GB,17.416667,17.214286,14.166667,14.8125,18.666667
14,11,TB,True,LAR,17.500000,17.142857,21.083333,13.8750,16.333333
16,11,LV,True,KC,18.000000,18.000000,3.416667,14.7500,4.333333
10,11,MIA,False,DEN,18.750000,19.500000,15.416667,11.7500,13.166667
5,11,CIN,False,WSH,18.916667,17.500000,18.166667,20.8750,17.833333
3,11,PHI,False,CLE,19.000000,18.428571,13.250000,13.6875,19.333333
8,11,TEN,False,BAL,19.416667,20.785714,11.166667,11.2500,16.333333
21,11,JAX,True,PIT,20.833333,20.714286,10.666667,19.4375,18.000000
13,11,DAL,False,MIN,21.416667,20.928571,20.750000,17.8125,17.166667
11,11,NYJ,False,LAC,22.416667,23.214286,18.083333,22.3125,19.500000
17,11,CLE,True,PHI,22.750000,23.357143,12.250000,12.6250,20.166667

In [34]:
this_week_rank_avg.sort_values(by=['RB'])

,week,team_abv,home,oppn,QB,WRTE,RB,DEF,ST
16,11,LV,True,KC,18.000000,18.000000,3.416667,14.7500,4.333333
9,11,NE,False,HOU,16.500000,17.285714,5.416667,15.4375,11.666667
27,11,MIN,True,DAL,12.166667,14.142857,8.333333,6.2500,15.166667
15,11,SEA,True,ARI,7.000000,5.428571,10.500000,13.9375,7.000000
21,11,JAX,True,PIT,20.833333,20.714286,10.666667,19.4375,18.000000
24,11,DEN,True,MIA,11.583333,11.785714,10.833333,14.4375,14.333333
18,11,NO,True,ATL,9.250000,9.928571,10.833333,7.6250,4.333333
8,11,TEN,False,BAL,19.416667,20.785714,11.166667,11.2500,16.333333
22,11,BAL,True,TEN,14.500000,14.285714,11.333333,15.0625,12.833333
20,11,CAR,True,DET,11.666667,10.428571,12.000000,15.1250,15.000000
17,11,CLE,True,PHI,22.750000,23.357143,12.250000,12.6250,20.166667
0,11,LAR,False,TB,11.666667,11.142857,12.916667,7.0000,13.000000
3,11,PHI,False,CLE,19.000000,18.428571,13.250000,13.6875,19.333333
1,11,ARI,False,SEA,10.500000,9.428571,13.583333,17.2500,14.500000
26,11,IND,True,GB,17.416667,17.214286,14.166667,14.8125,18.666667
10,11,MIA,False,DEN,18.750000,19.500000,15.416667,11.7500,13.166667
19,11,WSH,True,CIN,8.916667,9.357143,15.666667,13.6875,15.166667
25,11,LAC,True,NYJ,11.833333,11.142857,15.666667,12.3750,15.666667
23,11,HOU,True,NE,16.916667,17.928571,16.083333,18.1875,20.166667
12,11,GB,False,IND,8.583333,9.642857,17.916667,14.1875,12.833333
11,11,NYJ,False,LAC,22.416667,23.214286,18.083333,22.3125,19.500000
5,11,CIN,False,WSH,18.916667,17.500000,18.166667,20.8750,17.833333
7,11,PIT,False,JAX,6.666667,7.285714,18.750000,8.7500,9.000000
2,11,KC,False,LV,7.000000,7.285714,20.666667,13.3750,11.000000
13,11,DAL,False,MIN,21.416667,20.928571,20.750000,17.8125,17.166667
14,11,TB,True,LAR,17.500000,17.142857,21.083333,13.8750,16.333333
6,11,DET,False,CAR,8.833333,7.857143,21.166667,19.7500,13.333333
4,11,ATL,False,NO,16.000000,14.857143,25.916667,20.3750,20.166667

In [35]:
this_week_rank_avg.sort_values(by=['WRTE'])

,week,team_abv,home,oppn,QB,WRTE,RB,DEF,ST
15,11,SEA,True,ARI,7.000000,5.428571,10.500000,13.9375,7.000000
2,11,KC,False,LV,7.000000,7.285714,20.666667,13.3750,11.000000
7,11,PIT,False,JAX,6.666667,7.285714,18.750000,8.7500,9.000000
6,11,DET,False,CAR,8.833333,7.857143,21.166667,19.7500,13.333333
19,11,WSH,True,CIN,8.916667,9.357143,15.666667,13.6875,15.166667
1,11,ARI,False,SEA,10.500000,9.428571,13.583333,17.2500,14.500000
12,11,GB,False,IND,8.583333,9.642857,17.916667,14.1875,12.833333
18,11,NO,True,ATL,9.250000,9.928571,10.833333,7.6250,4.333333
20,11,CAR,True,DET,11.666667,10.428571,12.000000,15.1250,15.000000
0,11,LAR,False,TB,11.666667,11.142857,12.916667,7.0000,13.000000
25,11,LAC,True,NYJ,11.833333,11.142857,15.666667,12.3750,15.666667
24,11,DEN,True,MIA,11.583333,11.785714,10.833333,14.4375,14.333333
27,11,MIN,True,DAL,12.166667,14.142857,8.333333,6.2500,15.166667
22,11,BAL,True,TEN,14.500000,14.285714,11.333333,15.0625,12.833333
4,11,ATL,False,NO,16.000000,14.857143,25.916667,20.3750,20.166667
14,11,TB,True,LAR,17.500000,17.142857,21.083333,13.8750,16.333333
26,11,IND,True,GB,17.416667,17.214286,14.166667,14.8125,18.666667
9,11,NE,False,HOU,16.500000,17.285714,5.416667,15.4375,11.666667
5,11,CIN,False,WSH,18.916667,17.500000,18.166667,20.8750,17.833333
23,11,HOU,True,NE,16.916667,17.928571,16.083333,18.1875,20.166667
16,11,LV,True,KC,18.000000,18.000000,3.416667,14.7500,4.333333
3,11,PHI,False,CLE,19.000000,18.428571,13.250000,13.6875,19.333333
10,11,MIA,False,DEN,18.750000,19.500000,15.416667,11.7500,13.166667
21,11,JAX,True,PIT,20.833333,20.714286,10.666667,19.4375,18.000000
8,11,TEN,False,BAL,19.416667,20.785714,11.166667,11.2500,16.333333
13,11,DAL,False,MIN,21.416667,20.928571,20.750000,17.8125,17.166667
11,11,NYJ,False,LAC,22.416667,23.214286,18.083333,22.3125,19.500000
17,11,CLE,True,PHI,22.750000,23.357143,12.250000,12.6250,20.166667

In [36]:
this_week_rank_avg.sort_values(by=['DEF'])

,week,team_abv,home,oppn,QB,WRTE,RB,DEF,ST
27,11,MIN,True,DAL,12.166667,14.142857,8.333333,6.2500,15.166667
0,11,LAR,False,TB,11.666667,11.142857,12.916667,7.0000,13.000000
18,11,NO,True,ATL,9.250000,9.928571,10.833333,7.6250,4.333333
7,11,PIT,False,JAX,6.666667,7.285714,18.750000,8.7500,9.000000
8,11,TEN,False,BAL,19.416667,20.785714,11.166667,11.2500,16.333333
10,11,MIA,False,DEN,18.750000,19.500000,15.416667,11.7500,13.166667
25,11,LAC,True,NYJ,11.833333,11.142857,15.666667,12.3750,15.666667
17,11,CLE,True,PHI,22.750000,23.357143,12.250000,12.6250,20.166667
2,11,KC,False,LV,7.000000,7.285714,20.666667,13.3750,11.000000
3,11,PHI,False,CLE,19.000000,18.428571,13.250000,13.6875,19.333333
19,11,WSH,True,CIN,8.916667,9.357143,15.666667,13.6875,15.166667
14,11,TB,True,LAR,17.500000,17.142857,21.083333,13.8750,16.333333
15,11,SEA,True,ARI,7.000000,5.428571,10.500000,13.9375,7.000000
12,11,GB,False,IND,8.583333,9.642857,17.916667,14.1875,12.833333
24,11,DEN,True,MIA,11.583333,11.785714,10.833333,14.4375,14.333333
16,11,LV,True,KC,18.000000,18.000000,3.416667,14.7500,4.333333
26,11,IND,True,GB,17.416667,17.214286,14.166667,14.8125,18.666667
22,11,BAL,True,TEN,14.500000,14.285714,11.333333,15.0625,12.833333
20,11,CAR,True,DET,11.666667,10.428571,12.000000,15.1250,15.000000
9,11,NE,False,HOU,16.500000,17.285714,5.416667,15.4375,11.666667
1,11,ARI,False,SEA,10.500000,9.428571,13.583333,17.2500,14.500000
13,11,DAL,False,MIN,21.416667,20.928571,20.750000,17.8125,17.166667
23,11,HOU,True,NE,16.916667,17.928571,16.083333,18.1875,20.166667
21,11,JAX,True,PIT,20.833333,20.714286,10.666667,19.4375,18.000000
6,11,DET,False,CAR,8.833333,7.857143,21.166667,19.7500,13.333333
4,11,ATL,False,NO,16.000000,14.857143,25.916667,20.3750,20.166667
5,11,CIN,False,WSH,18.916667,17.500000,18.166667,20.8750,17.833333
11,11,NYJ,False,LAC,22.416667,23.214286,18.083333,22.3125,19.500000

In [37]:
this_week_rank_avg.sort_values(by=['ST'])

,week,team_abv,home,oppn,QB,WRTE,RB,DEF,ST
18,11,NO,True,ATL,9.250000,9.928571,10.833333,7.6250,4.333333
16,11,LV,True,KC,18.000000,18.000000,3.416667,14.7500,4.333333
15,11,SEA,True,ARI,7.000000,5.428571,10.500000,13.9375,7.000000
7,11,PIT,False,JAX,6.666667,7.285714,18.750000,8.7500,9.000000
2,11,KC,False,LV,7.000000,7.285714,20.666667,13.3750,11.000000
9,11,NE,False,HOU,16.500000,17.285714,5.416667,15.4375,11.666667
22,11,BAL,True,TEN,14.500000,14.285714,11.333333,15.0625,12.833333
12,11,GB,False,IND,8.583333,9.642857,17.916667,14.1875,12.833333
0,11,LAR,False,TB,11.666667,11.142857,12.916667,7.0000,13.000000
10,11,MIA,False,DEN,18.750000,19.500000,15.416667,11.7500,13.166667
6,11,DET,False,CAR,8.833333,7.857143,21.166667,19.7500,13.333333
24,11,DEN,True,MIA,11.583333,11.785714,10.833333,14.4375,14.333333
1,11,ARI,False,SEA,10.500000,9.428571,13.583333,17.2500,14.500000
20,11,CAR,True,DET,11.666667,10.428571,12.000000,15.1250,15.000000
19,11,WSH,True,CIN,8.916667,9.357143,15.666667,13.6875,15.166667
27,11,MIN,True,DAL,12.166667,14.142857,8.333333,6.2500,15.166667
25,11,LAC,True,NYJ,11.833333,11.142857,15.666667,12.3750,15.666667
8,11,TEN,False,BAL,19.416667,20.785714,11.166667,11.2500,16.333333
14,11,TB,True,LAR,17.500000,17.142857,21.083333,13.8750,16.333333
13,11,DAL,False,MIN,21.416667,20.928571,20.750000,17.8125,17.166667
5,11,CIN,False,WSH,18.916667,17.500000,18.166667,20.8750,17.833333
21,11,JAX,True,PIT,20.833333,20.714286,10.666667,19.4375,18.000000
26,11,IND,True,GB,17.416667,17.214286,14.166667,14.8125,18.666667
3,11,PHI,False,CLE,19.000000,18.428571,13.250000,13.6875,19.333333
11,11,NYJ,False,LAC,22.416667,23.214286,18.083333,22.3125,19.500000
17,11,CLE,True,PHI,22.750000,23.357143,12.250000,12.6250,20.166667
4,11,ATL,False,NO,16.000000,14.857143,25.916667,20.3750,20.166667
23,11,HOU,True,NE,16.916667,17.928571,16.083333,18.1875,20.166667

In [ ]:
this_week_rank.columns

In [ ]:
#prior_weeks.iloc[[0], [165]] 
#prior_weeks.loc[prior_weeks['team_abv'] == 'KC', ['pass_td_per_gm', 'pass_yrd_per_gm', 'pass_1st_down']]
#prior_weeks.loc[prior_weeks['team_abv'] == 'KC']['pass_td_per_gm']
#prior_weeks.loc[prior_weeks['team_abv'] == 'KC'].at['pass_td_per_gm']
#prior_weeks.loc[prior_weeks['team_abv'] == 'KC']['pass_td_per_gm']
print(prior_weeks.at[prior_weeks.index[prior_weeks['team_abv'] == 'KC'].tolist()[0], 'pass_td_per_gm'])
print(prior_weeks.at[prior_weeks.index[prior_weeks['team_abv'] == 'SEA'].tolist()[0], 'pass_td_per_gm'])
prior_weeks.at[prior_weeks.index[prior_weeks['team_abv'] == 'KC'].tolist()[0], 'pass_td_per_gm'] * prior_weeks.at[prior_weeks.index[prior_weeks['team_abv'] == 'SEA'].tolist()[0], 'pass_td_per_gm']

In [ ]:
prior_weeks.index[prior_weeks['team_abv'] == this_week['team_abv'].tolist()].tolist()

In [ ]:
print(this_week['team_abv'].tolist())
print(this_week['oppn'].tolist())

In [ ]:
td_list = []
for i, j in zip(this_week['team_abv'].tolist(), this_week['oppn'].tolist()):
    team_idx = prior_weeks.index[prior_weeks['team_abv'] == i].tolist()[0]
    pass_td_value = prior_weeks.at[team_idx, 'pass_td_per_gm']
    oppn_idx = prior_weeks.index[prior_weeks['team_abv'] == j].tolist()[0]
    pass_td_alw = prior_weeks.at[oppn_idx, 'pass_tds_alw']
    pass_td = pass_td_value * pass_td_alw
    td_list.append(pass_td)
    
this_week['pass_td'] = td_list
this_week

In [ ]:
prior_weeks.index[prior_weeks['team_abv'] == 'KC'].tolist()[0]

In [ ]:
def get_values_list(prior_weeks, team, column):   
    data_list = []
    for i in team.tolist():
        team_idx = prior_weeks.index[prior_weeks['team_abv'] == i].tolist()[0]
        data_value = prior_weeks.at[team_idx, column]
        data_list.append(data_value)
    return np.array(data_list)

In [ ]:
this_week['pass_td'] = pd.Series(get_values_list(prior_weeks, this_week['team_abv'], 'pass_td_per_gm') * 
                                 get_values_list(prior_weeks, this_week['oppn'], 'pass_tds_alw'))
this_week

In [ ]:
list1 = np.array([2, 4, 6, 8])
list2 = np.array([4, 6, 8, 10])

list3 = list1 * list2
list3

In [ ]:
df['column_name']=pd.Series(arr)

In [ ]:
test_df = new_df.merge(new_df, how = 'left', left_on = ['week', 'oppn'], right_on = ['week', 'team_abv'])
test_df.drop(['team_name_y', 'team_abv_y', 'home_y', 'oppn_y'], axis=1, inplace = True)
test_df.columns = ['week', 'team_name', 'team_abv', 'home', 'oppn', '1st_dwn_tot', '1st_dwn_pass', '1st_dwn_rush', '1st_dwn_pen', '3rd_dwn_con', 
                  '3rd_dwn_att', '4th_dwn_con', '4th_dwn_att', 'redzone_con', 'redzone_att', 'plays_tot', 'yrds_tot', 
                  'yrds_per_play', 'drives_tot', 'time_of_poss_min', 'time_of_poss_sec', 'penalties', 'pen_yrds', 'sacks_taken', 'sck_yrds_lost', 
                  'tol_fumble', 'fumble_lost', 'pass_comp', 'pass_att', 'tot_yrds_pass', 'yrds_per_pass', 'pass_tds', 
                  'int_thrown', 'rush_att', 'tot_rush_yrds', 'yrds_per_rush', 'rush_tds', 'long_rush', 'tot_rec', 
                  'rec_targets', 'tot_rec_yrds', 'yrds_per_rec', 'long_rec', 'tot_tackle', 'solo_tackle', 'tot_sck', 
                  'tack_for_loss', 'pass_def', 'qb_hits', 'def_tds', 'def_ints', 'def_int_yrds', 'def_int_tds', 'fumble_rec',
                  'tot_kick_ret', 'kick_ret_yrds', 'yrds_per_kick', 'long_kick_ret', 'kick_ret_tds', 'tot_punt_ret', 
                  'punt_ret_yrds', 'yrds_per_punt', 'long_punt_ret', 'punt_ret_tds', 'fg_made', 'fg_att', 'fg_perc', 'long_fg',
                  'xp_made', 'xp_att', 'kick_pts',
                  '1st_dwn_tot_alw', '1st_dwn_pass_alw', '1st_dwn_rush_alw', '1st_dwn_pen_alw', '3rd_dwn_con_alw', 
                  '3rd_dwn_att_alw', '4th_dwn_con_alw', '4th_dwn_att_alw', 'redzone_con_alw', 'redzone_att_alw', 'plays_tot_alw', 'yrds_tot_alw', 
                  'yrds_per_play_alw', 'drives_tot_alw', 'time_of_poss_min_alw', 'time_of_poss_sec_alw', 'penalties_alw', 'pen_yrds_alw', 'sacks_taken_alw', 'sck_yrds_lost_alw', 
                  'tol_fumble_alw', 'fumble_lost_alw', 'pass_comp_alw', 'pass_att_alw', 'tot_yrds_pass_alw', 'yrds_per_pass_alw', 'pass_tds_alw', 
                  'int_thrown_alw', 'rush_att_alw', 'tot_rush_yrds_alw', 'yrds_per_rush_alw', 'rush_tds_alw', 'long_rush_alw', 'tot_rec_alw', 
                  'rec_targets_alw', 'tot_rec_yrds_alw', 'yrds_per_rec_alw', 'long_rec_alw', 'tot_tackle_alw', 'solo_tackle_alw', 'tot_sck_alw', 
                  'tack_for_loss_alw', 'pass_def_alw', 'qb_hits_alw', 'def_tds_alw', 'def_ints_alw', 'def_int_yrds_alw', 'def_int_tds_alw', 'fumble_rec_alw',
                  'tot_kick_ret_alw', 'kick_ret_yrds_alw', 'yrds_per_kick_alw', 'long_kick_ret_alw', 'kick_ret_tds_alw', 'tot_punt_ret_alw', 
                  'punt_ret_yrds_alw', 'yrds_per_punt_alw', 'long_punt_ret_alw', 'punt_ret_tds_alw', 'fg_made_alw', 'fg_att_alw', 'fg_perc_alw', 'long_fg_alw',
                  'xp_made_alw', 'xp_att_alw', 'kick_pts_alw'
                 ]
test_df

In [ ]:
test_df.columns

In [ ]:
new_df.to_csv('test_df_w_allowed_new.csv')

In [ ]:
new_df = new_df.iloc[:, chr_list].astype(str) 
df[['A', 'C']] = df[['A', 'C']].apply(pd.to_numeric) 
df = df.infer_objects()

In [ ]:
new_df.columns

In [ ]:
len(list(new_df.columns))

In [ ]:
#new_df[int_list] = new_df[int_list].apply(pd.to_numeric) 
new_df[chr_list] = new_df[chr_list].astype('category')
new_df[bool_list] = new_df[bool_list].astype('bool')
new_df[int_list] = new_df[int_list].astype('int64')
new_df[float_list] = new_df[float_list].astype('float')
#new_df['time_of_poss'] = new_df['time_of_poss'].dt.strftime('%H:%M')
#new_df[time_list] = new_df[time_list].astype('datetime64')

In [ ]:
new_df.info()

In [ ]:
new_df[['time_of_poss']]

In [ ]:
new_df[['3rd_dwn_con','3rd_dwn_att']] = new_df['3rd_dwn_eff'].str.split('-',expand=True)
new_df[['4th_dwn_con','4th_dwn_att']] = new_df['4th_dwn_eff'].str.split('-',expand=True)
new_df[['redzone_con','redzone_att']] = new_df['redzone_eff'].str.split('-',expand=True)
new_df[['penalties','pen_yrds']] = new_df['pen_yrds'].str.split('-',expand=True)
new_df[['pass_comp','pass_att']] = new_df['pass_comp_att'].str.split('/',expand=True)
new_df[['sacks_taken','sck_yrds_lost']] = new_df['sck_yrds_lost'].str.split('-',expand=True)
new_df[['fg_made','fg_att']] = new_df['fg_att_made'].str.split('/',expand=True)
new_df[['xp_made','xp_att']] = new_df['xp_att_made'].str.split('/',expand=True)
new_df.drop(['3rd_dwn_eff', '4th_dwn_eff', 'redzone_eff', 'pass_comp_att', 'fg_att_made', 'xp_att_made'], 
            axis=1, inplace = True)

new_df

In [ ]:
new_df.columns

In [ ]:
test_df = new_df[['week', 'team_name', 'team_abv', 'home', '1st_dwn_tot', '1st_dwn_pass', '1st_dwn_rush', '1st_dwn_pen', '3rd_dwn_con', 
                  '3rd_dwn_att', '4th_dwn_con', '4th_dwn_att', 'redzone_con', 'redzone_att', 'plays_tot', 'yrds_tot', 
                  'yrds_per_play', 'drives_tot', 'time_of_poss', 'penalties', 'pen_yrds', 'sacks_taken', 'sck_yrds_lost', 
                  'tol_fumble', 'fumble_lost', 'pass_comp', 'pass_att', 'tot_yrds_pass', 'yrds_per_pass', 'pass_tds', 
                  'int_thrown', 'rush_att', 'tot_rush_yrds', 'yrds_per_rush', 'rush_tds', 'long_rush', 'tot_rec', 
                  'rec_targets', 'tot_rec_yrds', 'yrds_per_rec', 'long_rec', 'tot_tackle', 'solo_tackle', 'tot_sck', 
                  'tack_for_loss', 'pass_def', 'qb_hits', 'def_tds', 'def_ints', 'def_int_yrds', 'def_int_tds', 'fumble_rec',
                  'tot_kick_ret', 'kick_ret_yrds', 'yrds_per_kick', 'long_kick_ret', 'kick_ret_tds', 'tot_punt_ret', 
                  'punt_ret_yrds', 'yrds_per_punt', 'long_punt_ret', 'punt_ret_tds', 'fg_made', 'fg_att', 'fg_perc', 'long_fg',
                  'xp_made', 'xp_att', 'kick_pts'
                 ]]

test_df

In [ ]:
test_df.columns

In [ ]:
test_list = ['week', 'team_name', '1st_dwn_tot', '1st_dwn_pass', '1st_dwn_rush', '1st_dwn_pen', '3rd_dwn_con', 
                  '3rd_dwn_att', '4th_dwn_con', '4th_dwn_att', 'redzone_con', 'redzone_att', 'plays_tot', 'yrds_tot', 
                  'yrds_per_play', 'drives_tot', 'time_of_poss', 'penalties', 'pen_yrds', 'sacks_taken', 'sck_yrds_lost', 
                  'tol_fumble', 'fumble_lost', 'pass_comp', 'pass_att', 'tot_yrds_pass', 'yrds_per_pass', 'pass_tds', 
                  'int_thrown', 'rush_att', 'tot_rush_yrds', 'yrds_per_rush', 'rush_tds', 'long_rush', 'tot_rec', 
                  'rec_targets', 'tot_rec_yrds', 'yrds_per_rec', 'long_rec', 'tot_tackle', 'solo_tackle', 'tot_sck', 
                  'tack_for_loss', 'pass_def', 'qb_hits', 'def_tds', 'def_ints', 'def_int_yrds', 'def_int_tds', 'fumble_rec',
                  'tot_kick_ret', 'kick_ret_yrds', 'yrds_per_kick', 'long_kick_ret', 'kick_ret_tds', 'tot_punt_ret', 
                  'punt_ret_yrds', 'yrds_per_punt', 'long_punt_ret', 'punt_ret_tds', 'fg_made', 'fg_att', 'fg_perc', 'long_fg',
                  'xp_made', 'xp_att', 'kick_pts'
                 ]

len(test_list)

In [ ]:
test_df.info()

In [ ]:
new_df = new_df.iloc[:, keep_list]
new_df

In [ ]:
new_df.columns

In [ ]:
new_df.columns = ['week', 'team_name', '1st_dwn_tot', '1st_dwn_pass', '1st_dwn_rush', '1st_dwn_pen', '3rd_dwn_eff', '4th_dwn_eff', 'plays_tot', 
 'yrds_tot', 'yrds_per_play', 'drives_tot', 'yrds_per_pass', 'redzone_eff', 'pen_yrds', 'time_of_poss', 'pass_comp_att',
 'tot_yrds_pass', 'pass_tds', 'int_thrown', 'sck_yrds_lost', 'rush_att', 'tot_rush_yrds', 'yrds_per_rush',
 'rush_tds', 'long_rush', 'tot_rec', 'tot_rec_yrds', 'yrds_per_rec', 'long_rec', 'rec_targets', 'tol_fumble',
 'fumble_lost', 'fumble_rec', 'tot_tackle', 'solo_tackle', 'tot_sck', 'tack_for_loss', 'pass_def', 'qb_hits',
 'def_tds', 'def_ints', 'def_int_yrds', 'def_int_tds', 'tot_kick_ret', 'kick_ret_yrds', 'yrds_per_kick', 'long_kick_ret',
 'kick_ret_tds', 'tot_punt_ret', 'punt_ret_yrds', 'yrds_per_punt', 'long_punt_ret', 'punt_ret_tds', 'fg_att_made',
 'fg_perc', 'long_fg', 'xp_att_made', 'kick_pts'
]

In [ ]:
new_df.columns

In [ ]:
new_df.columns.get_loc("Kicking Points")

In [ ]:
drop_list2 = ['Passing', 'Comp-Att', 'Interceptions thrown', 'Sacks-Yards Lost', 'Rushing', 'Rushing Attempts', 
             'Yards per rush', 'Turnovers', 'Fumbles lost', 'Interceptions thrown', 'Defensive / Special Teams TDs',
             'Yards Per Pass Attempt', 'Adjusted QBR', 'Passer Rating', 'Touchdowns']
len(drop_list2)

In [ ]:
new_df[drop_list2]

In [ ]:
list(new_df.columns)

In [ ]:
len(new_df.columns)

In [ ]:
59

In [ ]:
json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][0]['text']

In [ ]:
json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][8]['totals']

In [ ]:
len(json_data['gamepackageJSON']['boxscore']['players'])

In [ ]:
list_data = []
#columns = []

for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] == 'kicking':
        columns = json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']

for team in range(0, len(json_data['gamepackageJSON']['boxscore']['players'])):
    #stat_data = []
    for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'])):
        if json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['name'] == 'kicking':
            #print(json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['descriptions'])
            #print(json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['totals'])
            stat_data = json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['totals']
            stat_data.append(json_data['gamepackageJSON']['boxscore']['players'][team]['team']['displayName'])
    list_data.append(stat_data)

In [ ]:
columns.append('team_name')
new_df = pd.DataFrame(columns=columns, data=list_data)
new_df

In [ ]:
list_data = []
columns = []

for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics'])):
    columns.append(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics'][stat]['label'])
    
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] == 'kicking':
        columns += json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']

In [ ]:
json_data['gamepackageJSON']['header']['week']

In [ ]:
list_data = []
columns = []

# create column names for team stats data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics'])):
    columns.append(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics'][stat]['label'])
    
# create column name for passing data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] not in 'punting':
        columns += json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']

print(len(columns))
columns

In [ ]:
list_data = []
columns = []

# create column names for team stats data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics'])):
    columns.append(json_data['gamepackageJSON']['boxscore']['teams'][0]['statistics'][stat]['label'])
    
# create column name for passing data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] == 'passing':
        columns += json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']
        
# create column name for rushing data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] == 'rushing':
        columns += json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']
        
# create column name for receiving data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] == 'receiving':
        columns += json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']
        
# create column name for fumbles data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] == 'fumbles':
        columns += json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']
        
# create column name for defensive data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] == 'defensive':
        columns += json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']
        
# create column name for interceptions data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] == 'interceptions':
        columns += json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']

# create column name for kickReturns data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] == 'kickReturns':
        columns += json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']
        
# create column name for puntReturns data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] == 'puntReturns':
        columns += json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']  
    
# create column name for kicking data
for stat in range(0, len(json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'])):
    if json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['name'] == 'kicking':
        columns += json_data['gamepackageJSON']['boxscore']['players'][0]['statistics'][stat]['descriptions']

In [ ]:
columns

In [ ]:
len(columns)

In [ ]:
test_list = []
test_list.append(None * len(json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['descriptions']))
test

In [ ]:
len(json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['descriptions'])

In [ ]:
test_list = []
test_list += [None] * len(json_data['gamepackageJSON']['boxscore']['players'][team]['statistics'][stat]['descriptions'])
test_list

In [ ]:
json_data['__gamepackage__']['homeTeam']['team']['displayName']